<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    {% if userAvatar %}
                        <img class="avatar col s3" src="{{ userAvatar }}">
                    {% else %}
                        <img data-name="{{ user }}" class="avatar col s3 profile"/>;
                    {% endif %}
                    <input id="add-comment-input" class="col s10 add-comment add-comment-input" type="text" placeholder="Share an idea or a file...">
                </div>
            </div>
            <div class="card-action row">
                <div class="chip activity-upload">
                    <span class="chip-content">Attach a file</span>
                </div>
            </div>
        </div>
    </div>
</div>