<!-- DEPRECATED -->
<div id="add-existing" class="modal">
    <div class="modal-header">
        <h4 style="font-weight: bolder !important;">Search for existing</h4>

    </div>
    <div class="modal-content container">
        <div class="modal-body">
            <form id="form-add-existing" method="post" action="">
                <div class="input-field col s12">
                    <input type="text" id="full-text-search" name="full-text-search" class="validate">
                    <label for="name">full text search</label>
                </div>

                
                <button id="submit-search-existing" class="btn button-form-validate" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
