<!-- Modal Structure -->
<div id="change-password" class="modal" style="height: auto; !important;">
    <div class="modal-header container">
    <h5>
        Change password
        <a class="modal-close" style="color: black;">
            <i class="material-icons right">highlight_off</i>
        </a>
    </h5>
    </div>
    
    <div class="modal-content container">
        <div class="modal-body">
            <form id="form-change-pwd">
                <div class="input-field col s12">
                    <input type="password" placeholder="Last Password" id="last-pwd" name="lastPwd" class="validate" required>
                    <label for="last-pwd"></label>
                </div>

                <div class="input-field col s12">
                    <input type="password" placeholder="New Password" id="new-pwd" name="newPassword" class="validate" required>
                    <label for="new-pwd"></label>
                </div>

                <div class="input-field col s12">
                    <input type="password" placeholder="Confirm Password" id="confirm-pwd" name="confirmPassword" class="validate" required>
                    <label for="confirm-pwd"></label>
                </div>
                <br>
                <div class="col s12"><p id="error" class="error"></p></div>

                <a class="modal-close btn btn-cancel">Cancel</a>
                <button id="submit-change-pwd" class="btn btn-valid right" type="submit">Change</button>
            </form>
        </div>
    </div>
</div>
