<div id="confirmDeleteAccount" class="modal">
    <h4 class="col s12">
        Confirm ?
        <a class="modal-close" style="color: black;">
            <i class="material-icons right">highlight_off</i>
        </a>
    </h4>
    <p>Are You sure et certain ?</p>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>