<div class="modal" id="confirm-adding-teammate">
    <div class="modal-content">
        <h4 class="col s12" style="margin-top: 60px">
            Add a teammate
            <i class="material-icon right">add_outline_box</i>
        </h4>
        <div class="row">
            <div class="container">
                <div class="center-align">
                    <p>Teammate's status changed !</p>
                    <i class="material-icons large">person_outline</i>
                </div>
                <div class="col s12" style="margin-top: 60px">
                    <a class="modal-close">Okay</a>
                </div>
            </div>
        </div>
    </div>
</div>