<div id="confirm-workspace-leave" class="modal">
    <div class="modal-content">
        <h4 class="col s12">
            Leave The Workspace
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
        <p>Are you sure?
            <br>
            This action is irreversible
        </p>
        <div class="row">
            <div class="row col s12" style="margin-top: 60px">
                <a class="waves-effect modal-close waves-light btn col s12 l3 push-l2 truncate">No, I don't want to leave</a>
                <a id="leave-the-workspace" class="waves-effect modal-close waves-light btn col s12 l3 push-l4 truncate">Yes, I want to leave</a>
            </div>
        </div>
    </div
</div>
