<div id="confirmDeleteAccount" class="modal">
    <h4 class="col s12">
        Delete Your Account
        <a class="modal-close" style="color: black;">
            <i class="material-icons right">highlight_off</i>
        </a>
    </h4>
    <div id="modal-confirm-deletion-content"></div>
    <div class=" col s12 center-align">
        <p>
            Are you sure ?
        </p>
    </div>
    <div class="row center-align" style="padding: 25px">
        <a href="#!" class="modal-action modal-close btn-flat col l3 push-l2 cancel">No</a>
        <a href="#!" id="confirm-delete-user" class="modal-action col l3 push-l4 modal-close btn-flat confirm">Yes</a>
    </div>
</div>
