<div class="modal" id="confirm-adding-teammate">
    <div class="modal-content">
        <h4 class="col s12" style="margin-top: 60px">
            Add a teammate
            <i class="material-icon right">add_outline_box</i>
        </h4>
        <div class="row">
            <div class="container">
                <div class="center-align">
                    <p>
                        The invitation has been sent !
                        <br>
                        We can't wait to see them here !
                    </p>
                    <i class="material-icon large">send</i>
                </div>
                <div class="row col s8 push-s4" style="margin-top: 60px">
                    <a class="modal-close">Okay</a>
                </div>
            </div>
        </div>
    </div>
</div>