<div id="confirmDeleteAccount" class="modal">
    <h5 class="col s12">
        Delete Your Account
        <a class="modal-close" style="color: black;">
            <i class="material-icons right">highlight_off</i>
        </a>
    </h5>
    <div id="modal-confirm-deletion-content" style="margin: 20px 0px;"></div>
    <div class=" col s12 center-align" style="margin: 20px 0px;">
        <p>
            Are you sure ?
        </p>
    </div>
    <div class="row center-align" style="margin-bottom: 25px">
        <a class="modal-action modal-close btn-valid col l3 push-l2 cancel">No</a>
        <a id="confirm-delete-user" class="modal-action col l3 push-l4 modal-close btn-cancel confirm">Yes</a>
    </div>
</div>
