<div id="confirm-workspace-delete" class="modal">
    <div class="modal-content">
        <h4 class="col s12">
            Delete The Workspace
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
    <div class="center-align col s12" style="margin-top: 20px;">
        <p>Are you sure?
            <br>
            This action is irreversible
        </p>
            </div>
          <input type="hidden" id="workspaceIdDelete" name="workspaceIdDelete">
        <div class="row">
            <div class="row col s12" style="margin-top: 60px">
                <a class="modal-close cancel btn btn-valid col s12 l3 push-l2 truncate">No</a>
                <a id="delete-the-workspace" class="modal-close btn-cancel btn col s12 l3 push-l4 truncate">Yes</a>
            </div>
        </div>
    </div>
</div>
