
<!-- Modal Structure -->
<div id="workspace-creation" class="modal">
    <div class="modal-content">
        <div class="container">
            <h4>Create a new Workspace</h4>
            <a href="#!">
                <i></i>
            </a>
            <div style="margin-top: 60px" class="input-field col s12">
                <input id="workspace_name" type="text" class="validate">
                <label for="workspace_name">Workspace Name</label>
            </div>
            <div style="margin: 60px 0px" class="chips chips-autocomplete"></div>
            <div class="row col s12">
                <a class="waves-effect waves-light btn col s3 push-s2">Cancel</a>
                <a class="waves-effect disabled waves-light btn col s3 push-s4">Send</a>
            </div>
        </div>
    </div>
</div>
