<!-- Modal Structure -->
<div id="workspace-creation" class="modal">
    <div class="modal-content">
        <h4>
            Create a new Workspace
            <i class="material-icons right">highlight_off</i>
        </h4>
        <form method="post" action='/organization/{{ currentOrganization._id }}/workspace'>
            <div style="margin-top: 60px" class="input-field col s12">
                <input id="workspace_name" name='workspaceName' type="text" class="validate">
                <label for="workspace_name">Workspace Name</label>
            </div>
            <div class="input-field col s12">
                <select name="workspaceManager" id='new-workspace-manager'>
                    <option value="" disabled="disabled" selected="selected">Choose your product manager</option>
                    {% for user in currentOrganization.users %}
                        <option value="{{ user._id }}">{{ user.completeName }}</option>
                    {% endfor %}
                </select>
                <label>Product Manager</label>
            </div>
            <div class="row col s12">
                <a class="modal-close btn col s3 push-s2 btn-cancel">Cancel</a>
                <button type="submit" id="new-workspace-submit" class="modal-close disabled btn col s3 push-s4 btn-confirm">Create</button>
            </div>
        </form>
    </div>
</div>
