<div class="modal" id="new-organization">
    <div class="modal-content">
        <h4 class="col s12" style="margin-top: 60px">
            Create a new Organization
            <i class="material-icon right">add_outline_box</i>
        </h4>
        <div class="row">
            <form>
                <div style="margin-top: 60px" class="input-field col s8 push-s2">
                    <input id="workspace_name" type="text" class="validate">
                    <label for="workspace_name">Workspace Name</label>
                </div>
                <div class="row col s12" style="margin-top: 60px">
                    <a class="waves-effect modal-close waves-light btn col s3 push-s2">Cancel</a>
                    <a id="new-organization-submit" class="waves-effect modal-close disabled waves-light btn col s3 push-s4">Create</a>
                </div>
            </form>
        </div>
    </div>
</div>