<div class="modal" id="new-organization">
    <div class="modal-content">
        <h4 class="col s12">
            Create a new Organization
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
        <div class="row">
                <div style="margin-top: 60px" class="input-field col s8 push-s2">
                    <input id="organizationName" type="text" class="validate">
                    <label for="organizationName">Organization Name</label>
                </div>
                <div class="row col s12" style="margin-top: 60px">
                    <a class="modal-close btn col s3 push-s2">Cancel</a>
                    <a id="new-organization-submit" class="modal-close disabled btn col s3 push-s4">Create</a>
                </div>
        </div>
    </div>
</div>
