<div id="edit-delete-modal" class="modal">
    <div class="modal-content col s12">
        <h5 class="center-align title-bocket col s12">
            <span id="title-node">Delete</span>
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h5>
        <div class="center-align col s12" style="margin-top: 20px;">
            <p>Do you wish to delete this part ?</p>
        </div>
        <div class="col s12">
            <div class="row" style="margin-top: 60px">
                <a href="#edit-node" class="modal-close btn-cancel btn col s12 l3 push-l2 modal-trigger">No</a>
                <a id="edit-delete-confirm" class="modal-close cancel btn btn-valid col s12 l3 push-l4">Yes</a>
            </div>
        </div>
    </div>
</div>
