<div id="confirm-workspace-delete" class="modal">
    <div class="modal-content">
        <h4 class="col s12">
            Delete The Workspace
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
        <p>
            <i class="material-icon">warning</i>
            If you confirm this action, you will delete the following workspaces:
        </p>
        div
        <div class="modal-content">
        </div>
        <div class="row">
            <div class="row col s12" style="margin-top: 60px">
                <a class="waves-effect modal-close waves-light btn col s12 l3 push-l2 truncate">No, I don't want to delete</a>
                <a id="organization-delete" class="waves-effect modal-close waves-light btn col s12 l3 push-l4 truncate">Yes, I want to delete</a>
            </div>
        </div>
    </div>
</div>
