<div id="exit-edit-modal" class="modal">
    <div class="modal-content">
        <h5 class="col s12">
            Leave Edit
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h5>
        <div class="center-align col s12" style="margin-top: 20px;">
            <p>Wish to delete this part ?</p>
        </div>
        <div class="row">
            <div class="row col s12" style="margin-top: 60px">
                <a href="#" class="modal-close btn btn-valid col s12 l3 push-l2">Yes</a>
                <a href="#edit-node" class="modal-close btn-cancel btn col s12 l3 push-l4 modal-trigger">No</a>
            </div>
        </div>
    </div>
</div>
