<div class="modal" id="forget-password">
    <div class="modal-content">
        <h4 class="col s12" style="margin-top: 60px">
            Forget Password
            <a class="right modal-close modal-trigger">
                <i class="material-icon">add_outline_box</i>
            </a>
        </h4>
        <div class="container">
            <div class="input-field col 10 offset-s1">
                <p>
                    Please insert your address below to receive the instructionn to reset your password
                </p>
            </div>
            <div class="input-field col 12">
                <input id="forget-email" name="forget-email" type="text" class="validate">
                <label for="forget-email">E-mail</label>
            </div>
            <div class="col s12">
                <button id="forget-password-submit" class="btn btn-normal center-align" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
