<!-- Modal Structure -->
<div id="import-assembly" class="modal">
    <div class="modal-header">
        <h4 style="font-weight: bolder !important;">Import a new Assembly</h4>
    </div>
        <div class="modal-content container">
            <div class="modal-body">
                <form id="form-import-assembly" method="post" action="/test">
                    <div class="input-field col s12">
                        <input id="assembly-name" type="text" name="name" class="validate">
                        <label for="name">Assembly Name</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="assembly-description" type="text" name="description" class="validate">
                        <label for="description">Description</label>
                    </div>

                    <div class="file-field input-field col s12">
                        <div class="files-button btn upload_button">
                            <span>...</span>
                            <input type="file" id="import_assembly_file3d" name="file3D" @change="chargefile">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your 3D Model">
                        </div>
                    </div>

                    <div class="file-field input-field col s12">
                        <div class="files-button btn upload_button">
                            <span>...</span>
                            <input type="file" multiple id="import_assembly_specfiles" name="specFiles" @change="chargespecFiles">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your Specs File">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>