<!-- Modal Structure -->
<div id="import-part" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="title-modal">Import a new Part</h4>
        <ul id='parts_list' class="collection col s12">
        </ul>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="btn btn-normal file-field input-field col s3">
                <span>Add a Part</span>
                <input type="file" multiple id="import-part-files" name="textureFiles">
            </div>
            <a id="upload-parts-btn" class="btn btn-valid right col s3">Upload Parts</a>
        </div>
    </div>
</div>