<div id="invite-people" class="modal">
    <div class="row container">
        <h4 style="padding-top: 30px">Invite a Member
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
        <div id="list-member-invitation" class="col s12" style="padding: 30px 0">
        </div>
        <div class="col s12" style="padding: 30px 0">
            <a onclick="addUser()" style="font-size: 14px; color: #4A90E2; cursor: pointer;">
                <i class="material-icons" style="vertical-align: middle">add_circle_outline</i>
                Add an user
            </a>
        </div>
        <div class="col s12" style="padding: 30px 0">
            <a class="waves-effect modal-close waves-light btn col s3 push-s2">Cancel</a>
            <a class="waves-effect modal-close disabled waves-light btn col s3 push-s4">Invite</a>
        </div>
    </div>
</div>