<div class="modal modal-fixed-footer" {% block id %} {% endblock %}>
    <div class="modal-content">
        <h5>
            {% block title %}{% endblock %}
        </h5>
        {% block content %}{% endblock %}
    </div>
    <div class="modal-footer">
        {% block footer %}{% endblock %}
    </div>
</div>
