<div class="modal" id="remove-a-teammate">
    <div class="modal-content">
        <h4 class="col s12" style="margin-top: 60px">
            Create a new Organization
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
        <div class="row">
            <form>
                <div style="margin-top: 60px" class="input-field col s8 push-s2">
                    <input id="workspace_name" type="text" class="validate">
                    <label for="workspace_name">Workspace Name</label>
                </div>
                <div class="row col s12" style="margin-top: 60px">
                    <a class="waves-effect modal-close waves-light btn col s3 push-s2">
                        No, I don't want to remove him !
                    </a>
                    <a id="new-organization-submit" class="waves-effect modal-close disabled waves-light btn col s3 push-s4">
                        Yes, I want to remove him !
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>