<!-- Modal Structure -->
<div id="report-issue-dropdown" class="modal">
    <div class="modal-header">
        <h4 style="font-weight: bolder !important;">Report an Issue</h4>
    </div>
    <div class="modal-content container">
        <div class="modal-body">
            <form id="form-report-issue">
                <div class="input-field col s12">
                    <input id="title-issue" type="text" name="part-name" class="validate" required="required">
                    <label for="last_name">Title</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description-issue" class="materialize-textarea"></textarea>
                        <label for="textarea1">Message :</label>
                    </div>
                </div>
                <button id="report-an-issue" class="modal-action modal-close btn button-form-validate" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>