<!-- Modal Structure -->
<div id="report-issue-modal" class="modal">
    <div class="modal-header">
        <h4 class="title-modal center-align">Report an Issue        <i class="material-icons right modal-close" style="">highlight_off</i>
        </h4>
    </div>
    <div class="modal-content container">
        <div class="modal-body">
            <form id="form-report-issue">
                <div class="input-field col s12">
                    <input id="title-issue" type="text" name="part-name" class="validate" required="required">
                    <label for="last_name">Title</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description-issue" class="materialize-textarea"></textarea>
                        <label for="textarea1">Message :</label>
                    </div>
                </div>
                <a class="modal-close btn btn-cancel">Cancel</a>
                <button id="report-an-issue" class="modal-action modal-close btn btn-valid right" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>