<div class="modal" id="confirm-forget-password">
    <div class="modal-content">
        <h4 class="col s12" style="margin-top: 60px">
            <span>Forget Password</span>
            <i class="material-icon right">add_outline_box</i>
        </h4>
        <div class="col s12">
            <i class="material-icon" style="font-size: 10em;">send</i>
            <p>An email has been sent ! Please verify your inbox.</p>
        </div>
    </div>
</div>
