<div id="user-options" class="modal" style="width: 75% !important;">
    <div class="modal-content">
        <h4 class="col s12">
            User Settings
            <a class="modal-close" style="color: black;">
                <i class="material-icons right">highlight_off</i>
            </a>
        </h4>
        <div class="col s12">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col s3"></div>
                <div class="col s9">
                    <p style="height: 45px">Name:
                        {{ currentUser.completeName }}</p>
                    <p style="height: 45px">E-mail:
                        {{ currentUser.email }}</p>
                    <div class="col s12" style="padding-left: 0px">
                        <div class="input-field inline col s12">
                            <button class="btn btn-confirm modal-close modal-trigger" href="#change-password">
                                Change Password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 5px; margin-left: 5px">
            <a class="modal-close btn btn-confirm" href="/logout">Log Out</a>
            <a class="modal-close btn btn-confirm" id="delete-account">Delete Account</a>
        </div>
    </div>
</div>
{% include 'modals/confirmDeleteAccount.twig' %}
