{% extends './layoutFooter.twig' %}

{% block id %} id="workspace-deleted" {% endblock %}

{% block title %}This workspace has been deleted{% endblock %}

{% block content %}
<div class="membership-user">
</div>
{% endblock %}

{% block footer %}
  <a href="/logOut" class="btn btn-normal modal-close right">Log Out</a>
  <a href="#forced-create-organization" class="modal-trigger btn btn-normal modal-close left">Create an Organiaztion</a>
{% endblock %}
