[submodule "viewer"]
	path = viewer
	url = https://github.com/bocketme/viewer
[submodule "converter/SharedObjectLoader"]
	path = converter/SharedObjectLoader
	url = https://github.com/bocketme/SharedObjectLoader.git
[submodule "bocket-view"]
	path = bocket-view
	url = https://github.com/bocketme/bocket-view.git
