<div id="organization-header" class="row" style="margin: 0;">
    <div class="col s4" style="padding: 0">
        <button class="dropdown-button" style="width: auto" data-beloworigin="true" data-activates='workspaces-dropdown'>
            <div class="workspaces-title">
                {{ currentOrganization.name }}
                <i style="vertical-align: center" class="material-icons arrow_drop_down">arrow_drop_down</i>
            </div>
        </button>
    </div>
    <ul id='workspaces-dropdown' class='dropdown-content'>
        {% for organization in userOrganizations %}
            <li>
                <a href="/organization/{{ organization._id._id }}">{{ organization._id.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
