<ul class="cd-accordion-menu">
    <li class="has-children"> 
        <input type="checkbox" name ="group-1" id="nona" checked>
        <label for="nona"><i class="tiny material-icons">arrow_drop_down</i>Assembly View</label>
        <ul class="data-node">
        </ul>           
    </li>
</ul>