<!-- Modal Structure -->
<div id="change-password" class="container containerBox">
    <div class="col-md-6">
        <i class="material-icons closeBox">close</i>
        <div class="logbox row">
            <form id="form-change-pwd" novalidate="novalidate">
                <h1 class="titleBox">Change password</h1>

                <div class="input-field">
                    <input type="password" placeholder="Last Password" id="last-pwd" name="lastPwd" class="validate" required>
                    <label for="last-pwd"></label>
                </div>

                <div class="input-field">
                    <input type="password" placeholder="New Password" id="new-pwd" name="newPassword" class="validate" required>
                    <label for="new-pwd"></label>
                </div>

                <div class="input-field">
                    <input type="password" placeholder="Confirm Password" id="confirm-pwd" name="confirmPassword" class="validate" required>
                    <label for="confirm-pwd"></label>
                </div>

                <div class="col s12"><p id="error" class="error"></p></div>
                <button id="submit-change-pwd" class="btn button-form-validate" type="submit">Change it</button>
                </button>
            </form>
        </div>
    </div>
</div>