{% extends 'layout.twig' %}

{% block body %}
    {% include 'project-topbar.twig' %}

    <div id="main">
        <form action="/files/{{project_id}}" enctype="multipart/form-data" method="post">
            <input type="file" name="file_input" multiple>
            <input type="submit" value="Upload">
        </form>

        <div>
            {% for specfile in specfiles %}
                <p class"file"><a href="/download-file-global/{{project_id}}/{{specfile}}">{{specfile}}</a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}