{#
<div id="userforgetPassword" class="container containerBox">
    <div class="col-md-6">
        <i class="material-icons closeBox">close</i>
        <div class="logbox row">
            <form id="userSignUp" method="post" action="/signup" novalidate="novalidate">
                <h1 class="titleBox">Create an account</h1>
                <div class="input-field col s12">
                    <input id="email" class="email-inv" name="email" type="email" class="validate" required>
                    <label for="email">Email address</label>
                </div>
                <button id="submit-btn-user" class="btn waves-effect waves-light submit-btn" type="submit" name="action">Submit</button>
                <button id="submit-btn-user" class="btn waves-effect waves-light submit-btn closeBox" name="action">Cancel</button>
                <div class="already-have-an-account text-center">
                    Remebered your account? <a href="#" id="login_id">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>
#}
