{% extends 'layout.twig' %}


{% block body %}
    {% include 'topbar.twig' %}
    <div id="main">
        <div class="home-content">
            <div class="home-recently-modified">
                Recent update
            </div>
            <div class="home-content-filters">
                <div class="filter-first">
                    Name
                </div>
                <div class="filter">
                    Last modification
                </div>
            </div>
            <div class="home-projects">
                <table class="table-projects">
                    {% for key, value in projects %}
                        <a href="/dashboard/{{projectIds[key]}}">
                            <tr class="home-single-project-list">
                                <td class="home-single-project-name-list">{{value}}</td> 
                            </tr>
                        </a>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}