{% extends 'layout.twig' %}


{% block body %}
    {% include 'topbar.twig' %}
    <div class="home-content">
        <div class="home-content-filters">
            <div class="filter">
            </div>
        </div>
            {% for key, value in projects %}
                {% if  loop.index % 4 == 1 %}
                    <div class="home-projects" style="">
                {% endif %}
                        <a href="/dashboard/{{projectIds[key]}}/{{projectMasterBranches[key]}}">
                            <div class="home-single-project">
                                <div class="home-single-project-view"></div>
                                <div class="home-single-project-name"> {{value}} </div>
                            </div>
                        </a>
                {% if loop.index % 4 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock %}