{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/logbox.css">
    <link rel="stylesheet" href="/css/workspace.css">
    <link rel="stylesheet" href="/css/global/button.css">
{% endblock %}

{% block body %}
    <div class="landing-page-body row">
        <div class="main col s12 ">
            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-fixed-item center">
                    <a class="btn btn-pink waves-effect create-account">Try Bocket for free</a>
                </div>
                <div class="carousel-item white-text col s9" href="#">
                    <h1>Working together on 3D projects has never been easier</h1>
                </div>
                <div class="carousel-item white-text col s9" href="#">
                    <h1>A new way to design 3D as a team</h1>
                </div>
                <div class="carousel-item white-text col s9" href="#">
                    <h1>Kneel down frontiers between 3D CAD software</h1>
                </div>
            </div>
        </div>
        <div class="info1 col s12">
            <div class="col s12 m12 l6 xl6" >
                <h4>Design 3D projects in team</h4>
                <div class="line-separator hide-on-med-and-down charte-light-blue"></div>
                <p>
                    <h5>Compatibility</h5>
                    No more headaches between files types, we accept all ! Stay focus on your projects !
                </p>
                <p>
                    <h5>Freedom</h5>
                Free your team from using the same CAD software, let them chose !
                <br>Free them from none efficient meeting.
                <br>Share the same workspace and keep an eye on projects... all together !
                </p>
                <p>
                    <h5>Efficiency</h5>
                A faster and better way to work by having everything in one place. Use a flexible and versatile environment.
                </p>
            </div>
            <div class="col s6 hide-on-med-and-down"><img src="img/info1-img.png" /></div>
        </div>
        <div class="info2 col s12">
            <div class="col s6 hide-on-med-and-down"><img  src="img/info2-img.png"/></div>
            <div class="col s12 m12 l6 xl6">
                <h4>Work better, Work faster</h4>
                <div class="line-separator hide-on-med-and-down charte-light-blue"></div>
                <p>
                <h5>Unite</h5>
                We are here to help you reunite your team around your project.<br/>
                Team and projects are in one place !
                </p>
                <p>
                <h5>Collaborate</h5>
                No more emails or meetings, communicate directly with your teammates through the platform and follow the evolution of everyone’s works !
                </p>
                <p>
                <h5>Assemble</h5>
                Smoothly assemble your project online without having any compatibility problems !
                </p>
            </div>
        </div>
        <div class="prices col s12">
            <div class="prices-header">
                <h4>Chose your plan</h4>
                <div class="line-separator hide-on-med-and-down charte-dark-blue"></div>
                <p>2 different packs are available. Please contact us for the price or furthermore questions.</p>
            </div>
            <div class="card-container col s12 center-align">
                <div class="card z-depth-4 col s12 l4 offset-l2">
                    <div class="card-content center-align">
                        <div class="header-card">
                            <span class="card-title">Starter Kit</span>
                            <p class="prices-description">Get started and discover new possibilities<br>Perfect for small teams.</p>
                            <h5>59,95 €<span class="prices-description"> / month</span></h5>
                            <span class="prices-description">Includes unlimited workspaces</span>
                        </div>
                        <ul class="center-align">
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Manage 3D open formats<br><span class="prices-description">IFC, STP, OBJ, STL and more</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Tesselation access<br><span class="prices-description">Consult 3D geometries</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Textual Annotations<br><span class="prices-description">Add and share remarks with team</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">3D Measuring tool<br><span class="prices-description">Manage 3D integration precisely</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Live chat and groups<br><span class="prices-description">Simplify communication</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Project news feed<br><span class="prices-description">Keep in touch with all updates</span></div></li>
                        </ul>
                        <a class="card-btn btn btn-pink create-account">Get Bocket Now !</a>
                    </div>
                </div>
                <div class="card z-depth-4 col s12 l4 offset-l2">
                    <div class="card-content center-align">
                        <div class="header-card">
                            <span class="card-title">Entreprise</span>
                            <p class="prices-description">Discover breakthrough features<br>Perfect for high performance teams.</p>
                            <h5>On demand</h5>
                            <span class="prices-description">Includes all features from Starter Kit</span>
                        </div>
                        <ul>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Manage 3D CAD formats<br><span class="prices-description">CATIA, SOLIDWORKS, and more</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">3D formats exportation tools<br><span class="prices-description">Export 3D geometries in a click</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Enable branching for co-design<br><span class="prices-description">Allow your team to work live</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Manage team confidentiality<br><span class="prices-description">Protect your IP easily</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">Auto data synchronisation<br><span class="prices-description">Share your updates instantly</span></div></li>
                            <li><i class="material-icons col s1">brightness_1</i><div class="col s11 left">One premise deployment<br><span class="prices-description">Plug Bocket into your infrastructure</span></div></li>
                        </ul>
                        <a class="card-btn btn btn-pink contact-us">Contact Us !</a>
                    </div>
                </div>
            </div>
        </div>
        {#<div id="requestAccess" class="request-access col s12">#}
            {#<div class="request-access-header">#}
                {#<h4>Account Request</h4>#}
                {#<p>Want to participate in our journey and help us improve it ? Contact us to create your account ! </p>#}
            {#</div>#}
            {#<form class="access-inputs col s12">#}
                {#<div class="row">#}
                    {#<div class="input-field col s6 m3 l2">#}
                        {#<input id="nameAccess" name="name" type="text" class="validate" required>#}
                        {#<label for="nameAccess">Name</label>#}
                    {#</div>#}
                    {#<div class="input-field col s6 m3 l2">#}
                        {#<input id="surnameAccess" name="surname" type="text" class="validate" required>#}
                        {#<label for="surnameAccess">Surname</label>#}
                    {#</div>#}
                    {#<div class="input-field col s6 m3 l2">#}
                        {#<input id="email_beta" name="email" type="email" class="validate" required>#}
                        {#<label for="email_beta">Email</label>#}
                    {#</div>#}
                    {#<div class="col s12 m3 l2">#}
                        {#<a id="beta_button" class="btn waves-effect center">Send Request</a>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}
    </div>
    <footer class="page-footer info-footer">
        <div class="footer-content">
            <div class="row">
                <div class="brand-logo col s12">
                    <a href="/" class="link-logo col s7 hide-on-med-and-down" ><img src="/img/logo-white.png"></a>
                </div>
                <div class="col s12 l3">
                    <h5 class="white-text footer-title">Meet Us</h5>
                    <ul class="footer-infos">
                        <li>The Bocketery</li>
                        <li>47 Avenue de la grande Armée</li>
                        <li>75116 Paris</li>
                        <li>Phone: +33 (0)6 66 75 37 96</li>
                        <li><a class="contact-us white-text">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col s12 l3">
                    <h5 class="white-text footer-title">About Us</h5>
                    <ul class="footer-infos">
                        <li>Get to know us</li>
                        <li><a class="contact-us white-text">Team</a></li>
                        <li>Jobs</li>
                        <li>CGU & CGV</li>
                        <li>Data Protection Policy</li>
                    </ul>
                </div>
                <div class="col s12 l3">
                    <h5 class="white-text footer-title">Use Bocket</h5>
                    <ul class="footer-infos">
                        <li><a class="create-account white-text">Create your account</a></li>
                        <li><a class="white-text">What is Bocket</a></li>
                        <li><a class="white-text">Join our community</a></li>
                        <li><a class="white-text">Viewer API</a></li>
                        <li><a class="white-text">Converter API</a></li>
                        <li><a class="white-text">BIM Management</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="">
                © 2018 PLUM. ALL RIGHT RESERVED. DEM-4382871//DEM-4382874
            </div>
        </div>
    </footer>
    <div id="blur" style="display: none;" ></div>
    {% include 'forgetPassword.twig' %}
    {% include "signupAccountBox.twig" %}
    {% include "signupWorkspace.twig" %}
    {% include "signinAccountBox.twig" %}
    {% include "workplacesPickerBox.twig" %}
    {% include "changePassword.twig" %}
    {% include "modals/createOrganization.twig" %}
{% endblock %}

{% block js %}

    {% if invitation %}
        <script type="application/javascript">
            var invitationUid = "{{ invitationUid }}";
            console.log('me');
        </script>
    {% endif %}
    <script type="application/javascript" src="/js/betaRegistration.js"></script>
    <script type="application/javascript" src="/js/checkEmail.js"></script>
    <script type="application/javascript" src="/js/logbox.js"></script>
    <script type="application/javascript" src="/js/signup.js"></script>
    <script type="application/javascript" src="/js/signin.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#nameAccess').val('');
            $('#surnameAccess').val('');
            $('#email_beta').val('');
            $('#choiceAccess').val('');
            $('.carousel.carousel-slider').carousel({fullWidth: true});
            $('select').material_select();
            $('.carousel-item').on('click', () => {
                $('.carousel').carousel('next');
            });
            $('.create-account').on('click', (event) => {
                $('#signIn').click();
            });
        });
    </script>
    {% if not invitation %}
        <script type="application/javascript" src="/js/signInEvents.js"></script>
    {% else %}
        <script type="application/javascript" src="/js/signInInvitationEvents.js"></script>
        <script type="application/javascript">
            $(document).ready(function () {
                $("#signUp").click();
                $(".email-inv").val('{{ email }}');
                $("#workspaceName").val("{{ workspaceName }}").attr("type", "hidden"); //prop('disabled', true).parent().css("display", "none");
                $("#completeName").val("{{ completeName }}");
                $("h1#new-workspace").text("Give us some information");
                $("#hiddenInvitation").val(invitationUid);
            });
        </script>
    {% endif %}
{% endblock %}
