{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/index.css">    
{% endblock %}

{% block body %}
    <nav class="bocket-nav">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img id="logo" src="/img/logo-white.png" alt="bocket.me logo"></a>
        </div>
    </nav>
    <div class="main">
        <div class="row content">
            <div class="col s5 informations">
                <p>
                    <br>
                    <br>
                    <span class="info1">Whatever your 3D software is</span><br>
                    <span class="info2">Every 3D project,<br>In a single place.</span>
                    <br>
                    <br>
                </p>
                <input id="email_beta" type="text" placeholder="Enter your email address..." class="validate col s6">
                <div class="col 2"></div>
                <a id="beta_button" class="waves-effect waves-light btn col s4">Join our beta</a>
                <p style="margin-left: -0.5em !important;" class="col s12">
                    <span class="subtitle">Want to create an account ?</span>
                    <a href="#">Sign up here</a>
                    <br>
                    <span class="subtitle">Already a member ?</span>
                    <a href="#">Sign in here</a>
                </p>
            </div>
            <div class="col s7" style="margin-bottom: 1.2em;">
                <img id="overview" src="/img/site-vitrine-overview.png" alt="overview">
            </div>
        </div>
    </div>
{% endblock %}