{% extends "layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/logbox.css">
    <link rel="stylesheet" href="/css/workspace.css">
    <link rel="stylesheet" href="/css/global/button.css">
{% endblock %}

{% block body %}
    <div id="blur" style="visibility:hidden;"></div>
    <div class="landing-page-body row">
        <div class="main col s12">
            <div id="fleches">
                <i id="left_slide" class="material-icons left">chevron_left</i>
                <i id="right_slide" class="material-icons right">chevron_right</i>
            </div>
            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-fixed-item center">
                    <a class="btn btn-pink" href="#try-for-free">Try Bocket for free</a>
                </div>
                <div class="carousel-item">
                    <div class="col m6 offset-m3 s8 offset-s2">
                        <h1>Working together on 3D projects has never been easier</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col m6 offset-m3 s8 offset-s2">
                        <h1>
                            Specify and assemble your prototype online
                        </h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col m6 offset-m3 s8 offset-s2">
                        <h1>Kneel down frontiers between 3D CAD softwares</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="info1" class="col s12">
            <div class="col s10 offset-s1 row">
                <div class="col s12 m12 l6 xl6">
                    <h4>SIMPLIFY PRODUCT PROTOTYPING</h4>
                    <div class="line-separator hide-on-med-and-down charte-light-blue"></div>
                    <h5>One Place</h5>
                    <p>
                        Create workspaces for your 3D projects, develop and share your digital mock-up in team. From everywhere.
                    </p>
                    <h5>CAD free</h5>
                    <p>
                        Do not lose time managing files types, Bocket accepts most of them.
                        <br>Keep focus on your projects.
                    </p>
                    <h5>Traceability</h5>
                    <p>
                        Access in real time to your product and check what has been done by the team members. In a single click.
                    </p>
                </div>
                <div class="col s5 offset-s1 hide-on-med-and-down">
                    <img src="img/info1-img.png"/>
                </div>
            </div>
        </div>
        <div class="info2 col s12">
            <div class="col s10 offset-s1 row">
                <div class="col s5 hide-on-med-and-down"><img src="img/info2-img.png"/></div>
                <div class="col s12 m12 l6 offset-l1 xl6 offset-xl1">
                    <h4>Work better, Work faster</h4>
                    <div class="line-separator hide-on-med-and-down charte-light-blue"></div>
                    <h5>Assemble</h5>
                    <p>
                        Organize and structure your product nomenclature, check components integration online. Whatever your CAD softwares are.
                    </p>
                    <h5>Collaborate</h5>
                    <p>
                        Communicate directly with your teammates through the platform, prepare your design reviews online. No more emails needed.
                    </p>
                    <h5>Specify</h5>
                    <p>
                        Store and share your parts or assemblies specifications, make information reachable, finally.
                    </p>
                </div>
            </div>
        </div>
        <div id="try-for-free" class="prices col s12">
            <div class="col s10 offset-s1">
                <div class="prices-header">
                    <h4>Choose your plan</h4>
                    <div class="line-separator hide-on-med-and-down charte-dark-blue"></div>
                    <p>
                        2 different packs are available.
                        <br>
                        Please contact us for the price or furthermore questions.
                    </p>
                </div>
            </div>
            <div class="card-container col s12 center-align">
                <div class="card z-depth-4 col s12 l4 offset-l2">
                    <div class="col s12 card-content center-align">
                        <div class="header-card">
                            <span class="card-title">Starter Kit</span>
                            <p class="prices-description">Get started and discover new possibilities<br>Perfect for small teams.</p>
                            <h5>59.95€<span class="prices-description">/ month</span></h5>
                            <p class="prices-description">Includes unlimited workspaces</p>
                        </div>
                        <ul class="card-text center-align col s12">
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Manage 3D open formats</p>
                                <p class="col s10 offset-s2 prices-description">IFC, STP, OBJ, STL and more</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Tesselation access</p>
                                <p class="col s10 offset-s2 prices-description">Consult 3D geometries</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Textual Annotations</p>
                                <p class="col s10 offset-s2 prices-description">Add and share remarks with team</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">3D Measuring tool</p>
                                <p class="col s10 offset-s2 prices-description">Manage 3D integration precisely</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Live chat and groups</p>
                                <p class="col s10 offset-s2 prices-description">Simplify communication</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Project news feed</p>
                                <p class="col s10 offset-s2 prices-description">Keep in touch with all updates</p>
                            </li>
                        </ul>
                        <div class="col s12">
                            <a class="card-btn btn btn-pink">Start free trial !</a>
                            <a id="signUp" class="card-btn btn btn-pink sign-up-trigger" style="display:none;">Start free trial !</a>
                        </div>
                    </div>
                </div>
                <div class="card z-depth-4 col s12 l4 offset-l2">
                    <div class="col s12 card-content center-align">
                        <div class="col s12 header-card">
                            <span class="card-title">Entreprise</span>
                            <p class="prices-description">Discover breakthrough features<br>Perfect for high performance teams.</p>
                            <h5>On demand</h5>
                            <span class="prices-description">Includes all features from Starter Kit</span>
                        </div>
                        <ul class="card-text col s12">
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Manage 3D CAD formats</p>
                                <p class="col s10 offset-s2 prices-description">CATIA, SOLIDWORKS, and more</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">3D formats exportation tools</p>
                                <p class="col s10 offset-s2 prices-description">Export 3D geometries in a click</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Enable branching for co-design</p>
                                <p class="col s10 offset-s2 prices-description">Allow your team to work live</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Manage team confidentiality</p>
                                <p class="col s10 offset-s2 prices-description">Protect your IP easily</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">Auto data synchronisation</p>
                                <p class="col s10 offset-s2 prices-description">Share your updates instantly</p>
                            </li>
                            <li class="col s12 row">
                                <br>
                                <i class="material-icons brightness col s1">brightness_1</i>
                                <p class="col s10 offset-s1">One premise deployment</p>
                                <p class="col s10 offset-s2 prices-description">Plug Bocket into your infrastructure</p>
                            </li>
                        </ul>
                        <a target="_blank" href="mailto:?to=hello@bocket.me &subject=Ask%20for%20information" class="card-btn btn btn-pink contact-us">Contact us !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer info-footer">
        <div class="footer-content">
            <div class="row">
                <div class="brand-logo col s12">
                    <a href="/" class="link-logo col s7 hide-on-med-and-down"><img src="/img/logo-white.png"></a>
                </div>
                <div class="footer-bloc col s12 l2">
                    <h5 class="white-text footer-title">Meet Us</h5>
                    <div class="hr"></div>
                    <ul class="footer-infos">
                        <li>The Bocketery</li>
                        <li>47 Avenue de la grande Armée</li>
                        <li>75116 Paris</li>
                        <li>France</li>
                        <br>
                        <li>Phone: +33 (0)6 66 75 37 96</li>
                        <li>
                            <a target="_blank" href="mailto:?to=hello@bocket.me &subject=Ask%20for%20information" class="contact-us white-text">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bloc col s12 l2">
                    <h5 class="white-text footer-title">About Us</h5>
                    <div class="hr"></div>
                    <ul class="footer-infos">
                        <li>Get to know us</li>
                        <li>
                            <a class="contact-us white-text">Team</a>
                        </li>
                        <li>Jobs</li>
                        <li>CGU & CGV</li>
                        <li>Data Protection Policy</li>
                    </ul>
                </div>
                <div class="footer-bloc col s12 l2">
                    <h5 class="white-text footer-title">Use Bocket</h5>
                    <div class="hr"></div>
                    <ul class="footer-infos">
                        <li>
                            <a href="#try-for-free" class="create-account white-text">Create your account</a>
                        </li>
                        <li>
                            <a href="#info1" class="white-text">What is Bocket</a>
                        </li>
                        <li>
                            <a class="white-text">Join our community</a>
                        </li>
                        <br>
                        <li>
                            <a class="white-text">Viewer API</a>
                        </li>
                        <li>
                            <a class="white-text">Converter API</a>
                        </li>
                        <li>
                            <a class="white-text">BIM Management</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footer-logo">
                <a target="_blank" href="https://www.facebook.com/bocketme/">
                    <img src="/img/facebook_logo.png">
                </a>
                <a target="_blank" href="https://twitter.com/hellobocket">
                    <img src="/img/twitter_logo.png">
                </a>
                <a target="_blank" href="https://www.instagram.com/bocket.me/">
                    <img src="/img/instagram_logo.png">
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/bocket">
                    <img src="/img/linkedin_logo.png">
                </a>
            </div>
        </div>
        <div id="footer-copyright" class="col s12">
            <div>
                © 2018 PLUM. ALL RIGHT RESERVED. DEM-4382871//DEM-4382874
            </div>
        </div>
    </footer>
    {% include 'forgetPassword.twig' %}
    {% include "signupAccountBox.twig" %}
    {% include "signupWorkspace.twig" %}
    {% include "signinAccountBox.twig" %}
    {% include "workplacesPickerBox.twig" %}
    {% include "changePassword.twig" %}
    {% include "modals/createOrganization.twig" %}
{% endblock %}

{% block js %}

    {% if invitation %}
        <script type="application/javascript">
            var invitationUid = "{{ invitationUid }}";
            console.log('me');
        </script>
    {% endif %}
    <script type="application/javascript" src="/js/betaRegistration.js"></script>
    <script type="application/javascript" src="/js/checkEmail.js"></script>
    <script type="application/javascript" src="/js/logbox.js"></script>
    <script type="application/javascript" src="/js/signup.js"></script>
    <script type="application/javascript" src="/js/signin.js"></script>
    <script type="application/javascript" src="/js/resetPassword.js"></script>
    <script type="application/javascript" src="/js/app/landing_page.js"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#nameAccess').val('');
            $('#surnameAccess').val('');
            $('#email_beta').val('');
            $('#choiceAccess').val('');
        });
    </script>
    {% if not invitation %}
        <script type="application/javascript" src="/js/signInEvents.js"></script>
    {% else %}
        <script type="application/javascript" src="/js/signInInvitationEvents.js"></script>
        <script type="application/javascript">
            $(document).ready(function () {
                $("#signUp").click();
                $(".email-inv").val('{{ email }}');
                $("#workspaceName").val("{{ workspaceName }}").attr("type", "hidden"); //prop('disabled', true).parent().css("display", "none");
                $("#completeName").val("{{ completeName }}");
                $("h1#new-workspace").text("Give us some information");
                $("#hiddenInvitation").val(invitationUid);
            });
        </script>
    {% endif %}
{% endblock %}
