{% extends "layout.twig" %}

{% block body %}

    {% include 'project-topbar.twig' %}
    <div class="main">
        <h2>Create a new node</h2>
        <form class="new-form">
            <label for="node-parent">Select the parent node</label>        
            <select id="parent_node" name="parent_node">
                {% for key, value in nodeNames %}
                    <option value="{{nodeIds[key]}}" branchid="{{nodeBranches[key]}}">{{value}}</option> 
                {% endfor %}
            </select>
            <p id= "name-error" class="error-pl-text">Node name cannot be empty..</p>  
            <label for="node-name">Node name</label>    
            <input type="text" name="node_name" id="node_name" placeholder="Enter name here..">                         
            <button id="node-submitbtn" type="submit" class="btn btn-warning btn-lg">Continue</button>
        </form>
    </div>
{% endblock %}