{% extends "layout.twig" %}

{% block body %}

    {% include 'topbar.twig' %}

    <form action="/new-project" method="post" class="new-form">
        <label for="pullrequest-title">Project name</label>        
        <p id="title-error" class="error-pl-text">Project name cannot be empty..</p>
        <input class="new_title" type="text" name="new_title" id="new_title" placeholder="Enter title here..">
        <label for="dest-branch">Description</label>
        <p id= "description-error"class="error-pl-text">Description cannot be empty..</p>                            
        <textarea name="description" cols="40" rows="5" id="new-description" placeholder="Enter description here.."></textarea>                            
        <button type="submit" class="btn btn-warning btn-lg">Continue</button>
    </form>
{% endblock %}