<div class="">
    <label for="branch"><i class="material-icons"></i></label>
    <input id="branch" type="text" placeholder="All Branches (default)">
    <label for="search"></label>
    <input id="search" type="text" placeholder='<i class="material-icons">search</i> Add or search a node'>
</div>