{% extends 'layout.twig' %}

{% block body %}
<div class="main">
    <img src="/img/logo.png" alt="">
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="form-group">
            <label>Firstname</label>
            <input type="text" class="form-control" name="firstname" required>
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" name="lastname" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <p>Already have an account ? <a href="/signin">Sign in</a> !</p>

        <button type="submit" class="btn btn-warning btn-lg">Sign up</button>
    </form>
</div>
{% endblock %}