<div id="userSignInBox" class="container containerBox">
    <div class="col-md-6">
        <div class="logbox row">
            <form id="userSignIn" novalidate="novalidate">
                <h5 class="titleBox">
                    Account Login
                    <i id="bigger-close" class="material-icons closeBox right">highlight_off</i>
                </h5>
                <div class="input-field col s12">
                    <input id="emailSignIn" name="email" type="email" class="validate" required="required">
                    <label for="emailSignIn">Email address</label>
                </div>
                <div class="input-field col s12">
                    <input id="passwordSignIn" name="password" type="password" class="validate" required="required">
                    <label for="passwordSignIn">Password</label>
                </div>
                <button id="signIn-btn" class="btn waves-effect waves-light submit-btn" type="submit">Sign me in !
                </button>

                <div class="already-have-an-account text-center center">
                    {% if invitation %}
                        <a href="#" id="create_account">Create an account</a>
                    {% endif %}
                </div>

            </form>
        </div>
    </div>
</div>
