<div id="workspaceSignUpBox" class="container containerBox">
    <div class="">
        <i class="material-icons closeBox">close</i>
        <div class="logbox row">
            <h1 class="titleBox">Create a new workspace</h1>
            <form id="workspaceSignUp" method="post" action="/signup" novalidate="novalidate">
                <div class="input-field col s12">
                    <input id="completeName" name="completeName" type="text" class="validate" required>
                    <label for="completeName">First name & Last name</label>
                </div>
                <div class="input-field col s12">
                    <input id="companyName" name="companyName" type="text" class="validate" required>
                    <label for="companyName">Company name</label>
                </div>
                <div class="input-field col s12">
                    <input id="workspaceName" name="workspaceName" type="text" class="validate" required>
                    <label for="workspaceName">Workspace name</label>
                </div>
                <button id="submit-btn-workspace" class="btn waves-effect waves-light submit-btn"  style="color: white;" type="submit" name="action">Continue
                </button>
                {% if signUpError %}
                    <p class="error">{{ signUpError }}</p>
                {% endif %}
                <div class="already-have-an-account text-center">
                    Already have an account? <a href="#" id="login_id">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>
