<div id="userSignInBox" class="container containerBox">
    <div class="col-md-6">
        <i class="material-icons closeBox">close</i>
        <div class="logbox row">
            <form id="userSignIn" novalidate="novalidate">
                <h1 class="titleBox">Account Login</h1>
                <div class="input-field col s12">
                    <input id="emailSignIn" name="email" type="email" class="validate" required>
                    <label for="emailSignIn">Email address</label>
                </div>
                <div class="input-field col s12">
                    <input id="passwordSignIn" name="password" type="password" class="validate" required>
                    <label for="passwordSignIn">Password</label>
                </div>
                <button id="signIn-btn" class="btn waves-effect waves-light submit-btn" type="submit">Sign me in !
                </button>
                <div class="already-have-an-account text-center center">
                    <a href="#" id="create_account">Create an account</a> - <a href="#" id="forget_passwork">Forget password</a>
                </div>
            </form>
                <form id="vincent" action="/sqdqsdqs/dqsdqsd" method="get">
                </form>
        </div>
    </div>
</div>