<div id="userSignUpBox" class="container containerBox">
    <div class="col-md-6">
        <i class="material-icons closeBox">close</i>
        <div class="logbox row">
            <form id="userSignUp" method="post" action="/signup" novalidate="novalidate">
                <h1 class="titleBox">Create an account</h1>
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email address</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                    <input id="cpassword" name="cpassword" type="password" class="validate" required>
                    <label for="cpassword">Confirm password</label>
                </div>
                <button id="submit-btn-user" class="btn waves-effect waves-light submit-btn" type="submit" name="action">Sign me up !
                </button>
                {% if signUpError %}
                    <p class="error">{{ signUpError }}</p>
                {% endif %}
                <div class="already-have-an-account text-center">
                    Already have an account? <a href="#" id="login_id">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>