<div id="userSignUpBox" class="container containerBox">
    <div class="col-md-6">
        <div class="logbox row">
            <i id="closeBox" class="material-icons">close</i>
            <form id="userSignUp" method="post" action="/signup" novalidate="novalidate">
                <h1 class="titleBox">create an account</h1>
                <div class="input-field col s12">
                    <input id="username" name="username" class="validate" type="text" required>
                    <label for="username">What's your username?</label>
                </div>
                <div class="input-field col s12">
                    <input id="firstName" name="firstName" class="validate" type="text" required>
                    <label for="firstName">First name</label>
                </div>
                <div class="input-field col s12">
                    <input id="lastName" name="lastName" type="text" class="validate" required>
                    <label for="lastName">Last name</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                    <input id="cpassword" name="cpassword" type="password" class="validate" required>
                    <label for="cpassword">Confirm password</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email address</label>
                </div>
                <button id="submit-btn" class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <div class="text-center">
                    already have an account? <a href="#" id="login_id">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>