<header>
    <nav class="navigation-bar" role="navigation">
        <div class="navigation-bar-card card-left">
            <a href="/home"><img class="nav-logo" src="/img/logo.png" alt""/></a>
        </div>
        <div class="navigation-bar-card navigation-bar-input">
            <input type="text" name="search" placeholder="Search..">
        </div>
        <div class="navigation-bar-card card-right">
            <a href="/home" class="top-controls" data-toggle="tooltip" data-placement="bottom" title="Return to page with all projects"><img class="" src="/img/home.svg" alt""/></a>
            <div class="dropdown top-controls">
                <div onclick="showdropdownNotif()" href="#" class="" data-toggle="tooltip" data-placement="bottom" title="Toogle the notification dropdown"><img class="dropbtn" src="/img/notification.svg" alt""/></div>
                <div id="dropdownNotif" class="dropdown-content">
                    <a href="">Test</a>
                </div>
            </div>
            <div class="dropdown top-controls">
                <div onclick="showdropdownUser()" href="#" class=""><img class="dropbtn" src="/img/user.svg" alt""/></div>
                <div id="dropdownUser" class="dropdown-content">
                    <!-- TODO: Dynamise with user id -->
                    <a href="/profile/{{currentUser.id}}" data-toggle="tooltip" data-placement="bottom" title="Go to your own profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            

        </div>
    </nav>
    </nav>
</header>
<div class="home-content-bar" >
    <div class="home-subbar">
        <div class="home-subbar-left">
             <div class="dropdown new-button">
                <div onclick="showdropdownNew()" class="dropbtn">NEW
                    <div id="dropdownNew" class="dropdown-content">
                        {% if (assets_name == "dashboard") or (assets_name == "nomenclature-3d") %}
                            <a id="branch-modal-button" data-toggle="tooltip" data-placement="bottom" title="Create a new branch">Create a branch</a>
                            <div id="branch-modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2 class="modal-title">Create branch</h2>
                            </div>
                        </div>
                        <a href="">Create a node</a>
                        {% else %}
                            
                        {% endif %}
                        <a href="/new-project" data-toggle="tooltip" data-placement="bottom" title="Click to create a new project">Create a new project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

