<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/viewer.css" />
    </head>
    <body>
        <div id="renderDiv" class="viewer-div">
            <canvas id="renderSurface" class="viewer-div viewer-canvas"></canvas>
            <canvas id="axisCanvas" class="viewer-div axis-canvas"></canvas>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="/js/three.js/libs/three.min.js"></script>

        <script src="/js/three.js/loaders/OBJLoader.js"></script>
        <script src="/js/three.js/loaders/MTLLoader.js"></script>

        <script src="/js/three.js/controls/OrbitControls.js"></script>
        <script src="/js/three.js/controls/TransformControls.js"></script>

        <script src="/js/three.js/shaders/CopyShader.js"></script>
        <script src="/js/three.js/shaders/FXAAShader.js"></script>

        <script src="/js/three.js/postprocessing/EffectComposer.js"></script>
        <script src="/js/three.js/postprocessing/RenderPass.js"></script>
        <script src="/js/three.js/postprocessing/ShaderPass.js"></script>
        <script src="/js/three.js/postprocessing/OutlinePass.js"></script>

        <script src="js/annotations.js"></script>
        <script src="js/viewer3D.js"></script>
    </body>
</html>