<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bocket.me | {{page_name}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/{{assets_name}}.css">
    <link rel="icon" href="img/favicon-bocket.png" />

</head>

<body>
    <header>
        <img src="img/logo.png" alt="" />
        <nav>
            <ul>
                <li>
                    <a href="#meetbocket">Meet bocket</a>
                </li>
                <li>
                    <a href="#pricing">Pricing</a>
                </li>
                <li>
                    <a href="#entreprise">Entreprise</a>
                </li>
                <li>
                    <a href="/signup">Sign up</a>
                </li>
                <li>
                    <a href="/signin">Sign in</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div id="meetbocket" class="main_meetbocket">
            <div class="main_meetbocket_distributed">
                <div class="main_meetbocket_distributed_content">
                    <h2>We want to make distributed design possible</h2>
                    <p>Bocket is the first web application that allows you to access to your 3D data on the cloud, <span>whatever your CAD system is.</span></p>
                    <a href="#join">Join our community</a>
                </div>
                <div class="main_meetbocket_distributed_content">
                    <img src="img/graphv2.png" alt="">
                </div>
            </div>
            <div class="main_meetbocket_integrations">
                <div class="main_meetbocket_integrations_content">
                    <img src="img/integrations.png" alt="">
                </div>
                <div class="main_meetbocket_integrations_content">
                    <h2>Join us to build the future together</h2>
                    <p>We need to identify the best features you need. We are looking to activate people to provide feedbacks to bring you the best platform ever.</p>
                    <a href="#join">Join our community</a>
                </div>
            </div>

        </div>
        <div id="pricing" class="main_pricing">
            <div id="pricing_free" class="pricing_card">
                <div class="pricing_info_box">
                    <h2>Free</h2>
                    <p class="subtext">Best if you want to test it</p>
                    <p class="price">Free</p>
                </div>
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of users : 5 users</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of projects per user : 5 projects</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Storage space : 2 Go</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Additional fees per Go : ??€</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Access to the model online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Specifications files sharing</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Google Drive, Dropbox & OneDrive integrations</li>
                    <li class=".pricing_not_included"><i class="fa fa-times" aria-hidden="true"></i> Real-time follow-up reports</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Review & Appoval</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Design branches creation</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> 3D Model annotaition</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Team live chat online</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Custom fields on nodes and parts</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Custom fields on follow-up reports</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Exporting nodes and parts in STEP-AP242</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Managing configuration of product nomenclature</li>
                    <li><i class="fa fa-times" aria-hidden="true"></i> Single Sign-On</li>

                </ul>
            </div>
            <div id="pricing_pro" class="pricing_card">
                <div class="pricing_info_box">
                    <h2>Pro</h2>
                    <p class="subtext">Best if you have a growing business</p>
                    <p class="price">XX€/mo</p>
                </div>
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of users : 5 users</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of projects per user : 5 projects</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Storage space : 2 Go</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Additional fees per Go : ??€</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Access to the model online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Specifications files sharing</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Google Drive, Dropbox & OneDrive integrations</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Real-time follow-up reports</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Review & Appoval</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Design branches creation</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> 3D Model annotaition</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Team live chat online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Custom fields on nodes and parts</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Custom fields on follow-up reports</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Exporting nodes and parts in STEP-AP242</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Managing configuration of product nomenclature</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Single Sign-On</li>
                </ul>
            </div>
            <div id="pricing_businesses" class="pricing_card">
                <div class="pricing_info_box">
                    <h2>Businesses</h2>
                    <p class="subtext">For a scaling business</p>
                    <p class="price">XX€/mo</p>
                </div>
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of users : 5 users</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of projects per user : 5 projects</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Storage space : 2 Go</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Additional fees per Go : ??€</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Access to the model online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Specifications files sharing</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Google Drive, Dropbox & OneDrive integrations</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Real-time follow-up reports</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Review & Appoval</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Design branches creation</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> 3D Model annotaition</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Team live chat online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Custom fields on nodes and parts</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Custom fields on follow-up reports</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Exporting nodes and parts in STEP-AP242</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Managing configuration of product nomenclature</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Single Sign-On</li>
                </ul>
            </div>
            <div id="pricing_entreprise" class="pricing_card">
                <div class="pricing_info_box">
                    <h2>Entreprise</h2>
                    <p class="subtext">For medium and large business</p>
                    <p class="price">XX€/mo</p>
                </div>
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of users : 5 users</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Number of projects per user : 5 projects</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Storage space : 2 Go</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Additional fees per Go : ??€</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Access to the model online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Specifications files sharing</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Google Drive, Dropbox & OneDrive integrations</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Real-time follow-up reports</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Review & Appoval</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Design branches creation</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> 3D Model annotaition</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Team live chat online</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Custom fields on nodes and parts</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Custom fields on follow-up reports</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Exporting nodes and parts in STEP-AP242</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Managing configuration of product nomenclature</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Single Sign-On</li>
                </ul>
            </div>
        </div>
        <div id="join" class="main_join">
            <div class="main_join_form">
                <h3>Sign up for a Private Alpha Acess waitlist</h3>
                <p>Put here the right text to show</p>
                <form action="" method="post">
                    <label for="lastname">Name :</label>
                    <input type="text" name="lastname">
                    <label for="firstname">Firstname :</label>
                    <input type="text" name="firstname">
                    <label for="mail">Email :</label>
                    <input type="email" name="mail">
                    <label for="company">Company :</label>
                    <input type="email" name="company">
                </form>
            </div>
        </div>
    </div>

    <script src="js/{{assets_name}}.js"></script>
    <script src="https://use.fontawesome.com/60e322fc16.js"></script>
</body>

</html>