<div id="workspacesPickerBox" class="container containerBox">
    <div class="col-md-6">
        <div id="bigger-logbox" class="logbox row">
            <h5 class="titleBox">
                Connect to your workspace
                <i id="bigger-close" class="material-icons closeBox right">highlight_off</i>
            </h5>
            <form id="workspacesPicker" method="post" action="/workspace" novalidate="novalidate">
                <ul id="workspacesList" class="collection noborder" style="height: 300px; overflow: auto"></ul>
                <input type="hidden" id="emailWorkspace" name="email">
                <input type="hidden" id="passwordlWorkspace" name="password">
                <input type="hidden" id="chosenWorkspace" name="workspaceId">
                {% if invitation %}
                    <input type="hidden" id="invitationUidWorkspacePicker" name="invitationUid">
                {% endif %}
                <button id="signIn-btn-picker" class="btn waves-effect waves-light submit-btn" type="submit">Continue
                </button>
            </form>
        </div>
    </div>
</div>
