.switch label input[type=checkbox]:checked+.lever {
  background-color: #4286f4;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #4286f4;
}

.no-margin-top {
  margin-top: 0;
}

.noborder {
  border: none !important;
}

.error {
  color: #FF5A92;
}

.bocket-nav {
  background: #262626;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
