body {
    font-family: 'Montserrat';
    font-weight: 400;
}

#selected{
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
    background-color: #535151; 
}

span.badge {
    color: inherit !important;
}

.material-icons.md-14{
    font-size: 14px;
}

.notbutton:active, .notbutton:focus{
    background-color: inherit;
}

.notbutton:hover{
    background-color: #535151;
}

.assembly-view{
    background-color: #262626;
    border: none;
    color: grey;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.assembly-view:active, .assembly-view:focus{
    background-color: #262626;
}

.data-header{
    background: white;
    color: #4a4a4a;
    font-weight: 600;
    font-size: 14px;
    padding: 16px 0;
    border-bottom: 2px inset;
    height: 52px;
    box-shadow: 0px 1px 2px 0px;
}

.favorite{
    padding: 0px 10px 0px 14px;
}

.bl {
    margin-top: 20px;
    background-color: #262626;
    padding-bottom: 80px;
}

.little_name {
    font-size: 60%
}

.coloriage {
    background-color: #262626 !important;
    color: white !important;
}

.dropdown-content {
    color: #262626;
}


header,
main {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main {
        padding-left: 0;
    }
}

.row{
    margin-bottom: 0px;
}

.first_column {
    background-color: #3c3c3c;
    height: 100vh;
    padding: 0 !important;
}

.second_column {
    height: 100vh;
    background-color: #f7f7f7;
    border-right: 5px inset;
    padding: 0 !important;
}

.third_column {
    padding: 0 !important;
    height: 100vh;
    background-color: #f7f7f7;
}

.triple-dots{
    content:url("/img/01-dots icon.svg");
    height: 16px;
    padding-top: 2px;
    padding-right: 14px;
    float: right;
}


.notbutton{
    background-color: inherit;
    border: none;
    color: grey;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-button{
    background-color:  inherit;
    border: none;
    color: white;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px; 
    padding-top: 20px;
}

.dropdown-button:hover{
    background-color:  #262626;    
}
.dropdown-button:focus{
    background-color:  #262626;
    color: white;
}
.username-dropdown{
    font-size: 11px;
    color: #9b9b9b;
    font-weight: 400;
}

div.search-and-branch{
    padding:  5px 5px;
}

input[type='text']#search{
    height: 26px;
    box-sizing:  border-box;
    border-bottom-width: 0px;
    border: 0 !important;
    font-size: 11px;
    background-color: #e9e8e9;
    background-image: url('/img/08-Search icon.svg');
    background-size: 11px;
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 5px;
}

input[type='text']#search:focus{
     border-bottom: none!important;
  box-shadow: none!important;
}

input[type='text']#branch{
    height: 26px;
    border: 0 !important;    
    box-sizing:  border-box;
    border-bottom-width: 0px;
    font-size: 11px;
    background-color: #e9e8e9;
    background-image: url('/img/08-Branch icon.svg');
    background-size: 11px;
    background-position: 10px 6px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-bottom: 5px;    
}

input[type='text']#branch:focus{
     border-bottom: none!important;
  box-shadow: none!important;
}

.search-input, .branch-input{
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 7px;
    padding-right: 7px; 
}
