body {
    background: #262626;
}

p {
    color: white;
}

input::placeholder {
    color: #9b9b9b; !important;
}

input#email_beta {
    background: white !important;
    border-radius: 4px !important;
    border: #9b9b9b solid 1px; !important;
    height: 2.9em !important;
}

#logo {
    margin-top: 1em;
    margin-left: 1em;
    z-index: 50;
}

#overview {
    width: 800px;
    height: 500px;
}

#beta_button {
    background: #00ffc8;
    padding-top: 0.5em;
    color: #262626;
    height: 3em;
}

#popup-title {
    color: black;
}

#popup-desc {
    color: black;
    font-weight: lighter;
}

#close {
    position: absolute;
    right: 0;
    color: #9b9b9b;
}

#close:hover {
    color: #00ffc8;
}

#signUp, #signIn {
    font-weight: 400;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

#blur {
    background: #d8d8d8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.bocket-nav {
    background: #262626;
    box-shadow: none;
}

.info1 {
    font-size: 30px;
    font-weight: lighter;
}

.info2{
    font-size: 40px;
    font-weight: 500;
}

.main {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 25%;
    right: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.content {
    /*margin-left: 5em;*/
}

.informations {

 }

.subtitle {
    font-weight: lighter;
}

.overlay {
    width: 35%;
    height: 20%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1001;
    visibility: hidden;
    transition: all 1s ease-in-out;
    box-shadow: 2px 2px 3px grey;
}

/*.overlay:target {
    visibility: visible;
    box-shadow: 2px 2px 3px grey;
    opacity: 1;
}*/

.popup {
    text-align: center;
    transition: all 1s ease-in-out;
}

@media screen and (max-width: 1680px)
{
    #beta_button {
        width: auto;
    }
}
