body {
    background: #262626;
}

p {
    color: white;
}

input::placeholder {
    color: #9b9b9b; !important;
}

input {
    background: white !important;
    border-radius: 4px !important;
    border: #9b9b9b solid 2px; !important;
    height: 2.9em !important;
}

a {
    font-weight: 400;
    text-decoration: underline;
    color: white;
}

#logo {
    margin-top: 1em;
    margin-left: 1em;
}

#overview {
    width: 1000px;
    height: 500px;
}

#beta_button {
    background: #00ffc8;
    padding-top: 0.5em;
    color: #262626;
    height: 3em;
}

#popup-title {
    color: black;
}

#popup-desc {
    color: black;
    font-weight: lighter;
}

#close {
    position: absolute;
    right: 0;
    color: #9b9b9b;
}

#close:hover {
    color: #00ffc8;
}

#blur {
    background: #d8d8d8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1000;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.bocket-nav {
    background: #262626;
    box-shadow: none;
}

.info1 {
    font-size: 30px;
    font-weight: lighter;
}

.info2{
    font-size: 40px;
    font-weight: 500;
}

.main {
    margin-top: 14.5%;
}

.content {
    margin-left: 5em;
}

.informations {

 }

.subtitle {
    font-weight: lighter;
}

.overlay {
    width: 35%;
    height: 20%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1001;
    visibility: hidden;
    transition: opacity 500ms;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    box-shadow: 2px 2px 3px grey;
    opacity: 1;
}

.popup {
    text-align: center;
    transition: all 1s ease-in-out;
}