::selection {
    background-color: #b5e2e7;
}

::-moz-selection {
    background-color: #8ac7d8;
}

#login_id {
    color: #039be5;
}

.containerBox {
    z-index: 4000;
    position: relative;
    display: -webkit-flex;
    display: none;
    align-items:center;
    width: 0;
    justify-content: center;
}

.closeBox {
    position: relative;
    top: 100px;
    left: 290px;
    color: #9b9b9b;
}

.closeBox:hover {
    color: #FF2E63;
    cursor: pointer;
}

.logbox {
    padding: 50px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h1.titleBox {
    position: relative;
    bottom: 20px;
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
}

.inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #3CC;
    border: none;
    -webkit-box-shadow: 0 5px 0 #2CADAD;
    -moz-box-shadow: 0 5px 0 #2CADAD;
    box-shadow: 0 5px 0 #2CADAD;
}
.inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #2CADAD;
    -moz-box-shadow: 0 3px 0 #2CADAD;
    box-shadow: 0 3px 0 #2CADAD;
}
.inputButton:active {
    top: 5px;
    box-shadow: none;
}
.inputButton:focus {
    outline: none;
}

.submit-btn:hover {
    background: #ff2e78;
}

.submit-btn {
    width: 100%;
    background: #FF2E63;
    color: #262626;
    margin: 5px 0 5px 0;
}

.already-have-an-account {
    font-size: 12px;
}
