.indicator{
    background-color: #000000 !important;
}

li.tab>a{
    text-align: center;
    padding: 0; 
    color: grey !important;
    font-weight: 400;
    font-size: 12px !important;
}

li.tab>a:hover{
    border-bottom: 2px solid grey
}

li.tab>a.active{
    color: #000000 !important;
    font-weight: 600;
}

.breadcrumb{
    color: black;
    font-size: 11px;    
}

.breadcrumb:before {
    color: black !important;
    margin: 0 !important;
    vertical-align: unset !important;
    font-size: 11px !important;
}