.axis-canvas
{
    position:   absolute;
    right:      20px;
    top:        20px;
    z-index:    10;
}

#axisCanvas{    
    height: 100%;
    width: 100%;
}

#renderSurface{
    height: 100%;
    width: 100%;
}

#move-icon
{
    content: url("/img/move-icon.png");
    height: 40px;
    width: 40px;
}

.viewer-options-1
{
    position: absolute;
    right: 20px;
    bottom: 200px;
}

.viewer-options-2
 {
    position: absolute;
    right: 20px;
    bottom: 140px;
 }

.viewer-options-3
{
    position: absolute;
    right: 20px;
    bottom: 80px;
}

.button-viewer
{
    width: 100%;
}

.btn-floating.btn-large{
    height: 38px !important;
    width: 38px !important;
}

.btn-large.button-viewer{

}

#button-save
{
    background-color: #296bb3 !important;
    border-radius: 25px;
    position: absolute;
    transform: translate(-120%);
    font-size: 10px;
    padding:  0px 15px;
}
#button-cancel
{
    background-color: #296bb3 !important;
    color: white;
    border-radius: 25px;
    font-size: 10px;
    position: absolute;
    padding: 0px 15px;
}
#buttons-saveandcancel
{
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%
}