.viewer-div
{
    position:   relative;
}

#renderDiv
{
    height: 50%;
    padding-top: 5px;
}

.axis-canvas
{
    position:   absolute;
    right:      20px;
    top:        20px;
}
#move-icon
{
    content: url("/img/move-icon.png");
    height: 40px;
    width: 40px;
}
.viewer-options-1
{
    position: absolute;
    right: 20px;
    bottom: 200px;
}.viewer-options-2
 {
     position: absolute;
     right: 20px;
     bottom: 140px;
 }
.viewer-options-3
{
    position: absolute;
    right: 20px;
    bottom: 80px;
}
.viewer-options-4
{
    position: absolute;
    right: 20px;
    bottom: 20px;
}