<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div>
                        <img class="col s2" src="/img/vincent_mesquita.jpg">
                        <span class="card-title s10"> <span class="who">Vincent Mesquita</span> <span class="what">added a comment</span>, <span class="when">2 days ago</span></span>
                    </div>
                    <p class="col s12">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
            <div class="card-action row">
                <div class="cache-toi" style="display: none;">
                    <input class="comment-input" placeholder="Add your comment..." type="text">
                </div>
                <div class="chip comment">
                    <span class="chip-content">Comment</span>
                </div>
                <div class="chip activity-upload">
                    <span class="chip-content">Attach a file</span>
                </div>
            </div>
        </div>
    </div>
</div>