<ul id="content-part" class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header assembly valign-wrapper"><i class="material-icons">keyboard_arrow_right</i>CONTENT</div>
            <div id="content" class="collapsible-body">
                  
            </div>
        </li>
    </ul>
    