<div id="side-details" class="containerBox">
    <div class="details-title">
        <span>Details</span>
    </div>
    <table class="details-table">
        <tr class="details-table-column">
            <td>Name</td>
            <td><span class="secondary-content" id="info-name">No node selected</span></td>
        </tr>
        <tr class="details-table-column">
            <td>Creator</td>
            <td><span class="secondary-content" id="info-creator">No node selected</span></td>
        </tr>
        <tr class="details-table-column">
            <td>Creation Date</td>
            <td><span class="secondary-content" id="info-creation">No node selected</span></td>
        </tr>
        <tr class="details-table-column">
            <td>Organization</td>
            <td><span class="secondary-content" id="info-owner"></span></td>
        </tr>
        <tr class="details-table-column">
            <td>Description</td>
            <td><span class="secondary-content" id="info-description">No node selected</span></td>
        </tr>
    </table>
</div>
