<div id="header" class="data-header-third-column">
    <div class="row header-background">
        <div id="node-header" class="col s8">
            <div id="node-title" class="node-selector">No node selected</div>
            <span>
                <span id="node-breadcrumb" class="fil">
                    <a class="breadcrumb"></a>
                </span>
            </span>
        </div>
        <div class="side-buttons col s4 right-align">
            <a id="show-info" class="info-right">
                <img/>
                {#<i class="material-icons" style="color:#000000">info</i>#}
            </a>
            <a id="show-notes" class="info-right">
                <img/>
            </a>
        </div>
        {#
        <div class="col s4">
            <img data-activates="pref-option" src="/img/05-Preferences.svg" class="image-right pref-option-style">
            <img src="/img/04-export.svg" class="image-right" alt="">
            <img data-activates="teammanage-workspace-option" src="/img/03-team.svg" class="image-right team-option-style">
            <img id='manage-workspace-btn' src="/img/02-pencil.svg" class="image-right" alt="">
        </div>
        <!-- Dropdown Structure -->
        <ul id='pref-option' class='dropdown-content'>
            <li class="option-node"><a class="dropdown-menu" href="/signOut">Logout</a></li>
        </ul>
        <ul id='team-option' class='dropdown-content'>
            <li class="option-node"><a id="invite-people-btn" class="dropdown-menu">Invite</a></li>
        </ul>
        #}
    </div>
</div>
