<div id="header-workspace">
    <h4>{{ in_use.name }}</h4>
</div>
<div id="list-workspace" class="collection bocket-scrollbar">
    {% for workspace in workspaces %}
        {% if (workspace.id == in_use.id) %}
        {% else %}
            <a class="collection-item avatar collection-item-workspace" style="min-height: 60px !important;" href="/project/{{workspace._id}}">
                <i class="tiny material-icons circle" style="font-size: 1rem !important;">folder</i>
                <p style="font-size: 70%; color: white; " class="truncate">{{ workspace.name }}</p>
            </a>
        {% endif %}
    {% endfor %}
    <a class="collection-item avatar collection-item-workspace" style="min-height: 60px !important;" href="/project/{{workspace._id}}">
        <i class="tiny material-icons circle" style="font-size: 1rem !important;">add</i>
        <p style="font-size: 70%; color: white; " class="truncate">Add Workspace</p>
    </a>
</div>