<div id="location">
    <div class="row">
        <div class="col s6"> </div>
        <div class="col s6"> </div>
    </div>
    <h5>Location <span class="right">{% verbatim %}{{ title }}{% endverbatim %} </span></h5>
    <p id="location-maturity">Maturity : </p>  <span class="right">{% verbatim %} <div v-bind:style="styleObject"></div> {{ maturity }}{% endverbatim %}</span>
    <p>Owners : {% verbatim %} <img v-for="(user, index) in users" v-bind:src="user.url" alt="user.name"> {% endverbatim %}</p>
    <p>Created on : <span class="right"> {% verbatim %} {{ created_on }} {% endverbatim %}</span></p>
    <p>Last modification :<span class="right">{% verbatim %}{{ modified }}{% endverbatim %} </span> </p>
</div>