<div id="location">
    <div class="row">
        <div class="col s6"> <h5>Location</h5> </div>
        <div class="col s6"> {% verbatim %}{{ title }}{% endverbatim %} </div>
    </div>
    <div class="row">
        <div class="col s6"> <p>Maturity :</p> </div>
        <div class="col s6"> {% verbatim %} <div v-bind:style="styleObject"></div> {{ maturity }}{% endverbatim %} </div>
    </div>
    <div class="row">
        <div class="col s6"> <p>Owners : </p> </div>
        <div class="col s6"> {% verbatim %} <img v-for="(user, index) in users" v-bind:src="user.url" alt="user.name"> {% endverbatim %} </div>
    </div>
    <div class="row">
        <div class="col s6"> <p>Created on :</p>  </div>
        <div class="col s6"> {% verbatim %} {{ created_on }} {% endverbatim %} </div>
    </div>
    <div class="row">
        <div class="col s6"> <p>Last modification :</p> </div>
        <div class="col s6"> {% verbatim %}{{ modified }}{% endverbatim %} </div>
    </div>
</div>