<div id="news-feed">
    <div class="col s12">
        <a id="show-all-feeds" href="#all-feeds" class="btn col s3">All</a>
        <a id="show-object-feeds" href="#object-feeds" class="btn col s3">Objects</a>
        <a id="show-team-feeds" href="#team-feeds" class="btn col s3">Team</a>
        <a id="show-annotation-feeds" href="#annotation-feeds" class="btn col s3">Annotations</a>
    </div>
    <div id="all-feeds" class="col s12">
        <ul id="all-feeds-list" class="collection container">
        </ul>    </div>
    <div id="object-feeds" class="col s12" style="display: none">
        <ul id="object-feeds-list" class="collection container">
        </ul>    </div>
    <div id="team-feeds" class="col s12" style="display: none">
        <ul id="team-feeds-list" class="collection container">
        </ul>
    </div>
    <div id="annotation-feeds" class="col s12" style="display: none">
        <ul id="annotation-feeds-list" class="collection container">
        </ul>
    </div>
</div>