<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header assembly active valign-wrapper"><i class="material-icons">keyboard_arrow_right</i>ASSEMBLY VIEW</div>
        <div class="collapsible-body">
            {% if node is null %}
            <span>There is no node in this scope</span>
            {% else %}
                <div>
                    <div class="row colla node_constructor">
                    </div>
                </div>
            {% endif %}
        </div>
    </li>
</ul>
