<div>
    <p>
        <span style="font-weight:700">Structure</span>
        <a class="dropdown-image secondary-content" href="#" data-activates='node-tree-dropdown-menu'><img  class="add-content-icon" src="/img/add-content-icon.png"></a>
    </p>
</div>
<ul class="node-tree collapsible collapsible-first bocket-scrollbar" data-collapsible="accordion">
    <li>
        <div id="{{ node._id }}" class="collapsible-header three-node search_child valign-wrapper">
            <i class="material-icons">keyboard_arrow_right</i>
            <img class="pad-right" src="/img/07-Assembly icon.svg">
            <span class="p-node node-name" data-node="part" data-breadcrumbs="{{ node.name }}" data-sublevel="0">{{ node.name }}</span>
        </div>
        <div id="{{ node._id }}-body" class="collapsible-body container valign-wrapper"></div>
    </li>
</ul>

<ul id='node-tree-context-menu' class='dropdown-content'>
    <li class="option-node">
        <a class="dropdown-menu modal-trigger modal-node-selector edit-part-btn" href="#edit-part">Edit Part</a>
    </li>
    <li class="divider"></li>
    <li class="option-node">
        <a id="remove" class="dropdown-menu" href="#!">Remove</a>
    </li>
    <li class="option-node">
        <a id="duplicate-node" class="dropdown-menu" href="#!">Duplicate</a>
    </li>
</ul>

<ul id='node-tree-dropdown-menu' class='dropdown-content'>
    <!-- NODE MENU -->
    <li class="option-node">
        <a class="dropdown-menu modal-trigger modal-node-selector" href="#import-part">
            New Part...
        </a>
    </li>
    <!-- display panel create new part US2 -->
    <li class="option-node">
        <a class="dropdown-menu modal-trigger modal-node-selector" href="#import-assembly">
            New Assembly...
        </a>
    </li>
    <li class="divider"></li>
    <li class="option-node">
        <a class="dropdown-menu modal-trigger modal-node-selector edit-part-btn" href="#edit-part">Edit Part</a>
    </li>
</ul>