<div id='notes'>
    <p id='header-notes' data-activates="notes-context-menu">
        <b>Notes</b>
        <a href="#!" data-activates="notes-context-menu" class="dropdown-image secondary-content"><img class="add-content-icon" src="/img/add-content-icon.png" alt="New Note"></a>
    </p>
</div>

<ul id="notes-collection" class="collection bocket-scrollbar">
</ul>

<ul id="notes-context-menu" class="dropdown-content">
    <li class="option-node">
        <a id="new_note" class="dropdown-menu" href="#!">New Note</a>
    </li>
</ul>