<div id="search-and-branch">
    <div class="branch-input">
        <h6 id="assembly-title">Assembly</h6>
        <input id="branch" type="text" placeholder="All Branches (default)">
    </div>
    <div class="search-input">
        <input id="search" type="text" placeholder='Add or search a node'>
    </div>
</div>
