{#<ul id="side-info" class="side-nav">
    <li>
        <a id="side-nav-close">
            <i class="material-icons">close</i>
        </a>
    </li>
    <li id="note-list">
        <div class="card-panel teal">
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
        </div>
    </li>
    <li>
        <div>
            <div id="addAnnotationCard" class="card panel">
                <div class="card-title">
                    <div class="input-field">
                        <input placeholder="Placeholder" id="title-note-input" type="text">
                        <label for="title-note-input">Title</label>
                    </div>
                </div>
                <div class="card-content">
                    <div class="input-field">
                        <input placeholder="Placeholder" id="text-area-note" type="text">
                        <label for="text-area-note">Add Note...</label>
                    </div>
                </div>
                <div class="card-action">
                    <a id="addNoteButton" class="btn-flat waves-effect waves-light green">Post</a>
                    <a id="cancelNoteButton" class="btn-flat waves-effect waves-light red">Cancel</a>
                </div>
            </div>
        </div>
    </li>
</ul>#}
<div id="side-info" class="containerBox">
    <a id="addNoteButton" class="waves-effect waves-light btn-large" style="background-color: #4A90E2;position: sticky"><i class="material-icons center-align">add</i></a>
    <ul id="note-list" class="collection">
        <li class="collection-header">
{#            <h5 style="margin-left: 10px;margin-bottom: 10px;">Annotations</h5>
            <div id="addNoteButton" class="left-align" style="margin-left: 10px">
                <a href="#!"><img class="add-content-icon" src="/img/add-content-icon.png" alt="New Note"></a>
            </div>#}
        </li>
    </ul>
</div>