<div id="side-info" class="containerBox">
    <div>
      <a id="addNoteButton" class="waves-effect waves-light btn" ><i id="add-note-icon" class="material-icons center-align">add</i></a>
    </div>
    <ul id="note-list" class="collection">
        <li class="collection-header">
        </li>
    </ul>
</div>
