<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#node">Node</a></li>
            <li class="tab col s3"><a href="#assemblyorpart">Assembly</a></li>
            <li class="tab col s3"><a href="#files">Files</a></li>
            <li class="tab col s3"><a href="#dashboard">Dashboard</a></li>
        </ul>
    </div>
    <div id="node" class="col s12">
        <h6>Node</h6>
        <ul class="timeline">
            
        </ul>
    </div>
    <div id="assemblyorpart" class="col s12">
        <h6>Assembly</h6>
        <h6>Part</h6>
    </div>
    <div id="files" class="col s12">
        <h6>Files</h6>
    </div>
    <div id="dashboard" class="col s12">
        <h6>Dashboard</h6>
    </div>
</div>
