<div id="node-content" class="row">
    <div id="node-content-tabs" class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a href="#activity">Activity</a></li>
            <li class="tab col s4"><a href="#specs">Specs</a></li>
            <li class="tab col s4"><a href="#details">Detail</a></li>
        </ul>
    </div>
    <div id="activity" class="col s12">
        <ul id="activity-comments">
            <li>
                {% include "./activity/add_comment.twig" %}
            </li>
            <li>
                {% include "./activity/activity.twig" %}
            </li>
            <li>
                {% include "./activity/activity.twig" %}
            </li>
            <li>
                {% include "./activity/activity.twig" %}
            </li>
        </ul>
    </div>
    <div id="specs" class="col s12">
        <ul id="specs-collection" class="collection">
            <li></li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
            <li class="collection-item">{% include "./specs/specs.twig" %}</li>
        </ul>

            <ul id='specs-context-menu' class='dropdown-content'>
                <li><a id="new_file" href="#!">New file</a></li>
                <li><a id="remove" href="#!">Remove</a></li>
                <li class="divider"></li>
                <li><a id="preview" href="#!">Preview</a></li>
                <li><a id="rename" href="#!">Rename</a></li>
                <li class="divider"></li>
                <li><a id="download" href="#!">Download</a></li>
            </ul>

    </div>
    <div id="details" class="col s12">
    </div>
</div>
