<div id="node-content" class="row">
    <div id="node-content-tabs" class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a href="#activity">Activity</a></li>
            <li class="tab col s4"><a href="#specs">Specs</a></li>
            <li class="tab col s4"><a href="#details">Detail</a></li>
        </ul>
    </div>
    <div id="activity" class="col s12">
        <ul id="activity-comments">
            <li>
                {% include "./activity/add_comment.twig" %}
            </li>
            <li>
                {% include "./activity/activity.twig" %}
            </li>
            <li>
                {% include "./activity/activity.twig" %}
            </li>
            <li>
                {% include "./activity/activity.twig" %}
            </li>
        </ul>
    </div>
    <div id="specs" class="col s12">
    </div>
    <div id="details" class="col s12">
    </div>
</div>
