    <div class="data-header-third-collumn">
        <div class="row">
            <div class="col s8">
                <p class="node-selector">Select a node</p>
                <span class="fil">
                        <a href="#!" class="breadcrumb">Third</a>
                        <a href="#!" class="breadcrumb">Third</a>
                        <a href="#!" class="breadcrumb">Third</a>
                        <a href="#!" class="breadcrumb">Third</a>                        
                </span>
            </div>
            <div class="col s4">
                <img src="/img/05-Preferences.svg"  class="image-right" alt="">  
                <img src="/img/04-export.svg"       class="image-right" alt="">
                <img src="/img/03-team.svg"         class="image-right" alt="">
                <img src="/img/02-pencil.svg"       class="image-right" alt="">
            </div>
        </div>
    </div>
    