<div class="data-header">
    <div class="row">
        <div class="col s8">
            <a href="#!" class="breadcrumb">First</a>
            <a href="#!" class="breadcrumb">Second</a>
            <a href="#!" class="breadcrumb">Third</a>
        </div>
        <div class="col s4">
          <img src="/img/01-Pencil_for_edition.svg" alt="">
          <img src="/img/02-Team_management.svg" alt="">
          <img src="/img/03-Export_command.svg" alt="">
          <img src="/img/04-Preferences_button.svg" alt="">  
        </div>
    </div>
</div>        