<div id="partLoader" style="visibility: hidden;">
    <div class="progress">
        <div id="loadingBar" class="determinate"></div>
    </div>
</div>
<div id="renderDiv" class="viewer-div col s12">
    {% include "hub/sideNav.twig" %}

    <canvas id="axisCanvas" class="viewer-div axis-canvas"></canvas>
    <canvas id="renderSurface" class="viewer-div viewer-canvas"></canvas>

    <ul class="viewer-div-option">
        <li class="viewer-option">
            <a id="button-move-object" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02a-ShowMark.svg" alt="Repère Pièce"></a>
        </li>
        <li class="viewer-option">
            <a id="button-rotate-object" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02e-ShowRotate.svg" alt="Rotate"></a>
        </li>
        <li class="viewer-option">
            <a id="button-fit-to-screen" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/01a-FitToScreen.svg" alt="Fit To Screen"></a>
        </li>
        <li class="viewer-option">
            <a id="button-bounding-box" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02b-ShowBoundingBox.svg" alt="Bounding Box"></a>
        </li>
        <li class="viewer-option">
            <a id="button-wireframe" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02c-Wireframe.svg" alt="Wireframe">
            </a>
        </li>
    </ul>

    {#
    <div class="fixed-action-btn horizontal viewer-options-3">
        <a class="btn-floating btn-large green">
            <img class="button-viewer" src="/img/viewer/03-Annotations.svg" alt="">
        </a>
        <ul>
            <li><a id="button-show-annotation" class="btn-floating grey">   <img class="button-viewer" src="/img/viewer/03a-ShowAnnotes.svg" alt=""></a></li> <!--Show Annotation-->
            <li><a id="button-add-annotation" class="btn-floating grey">    <img class="button-viewer" src="/img/viewer/03b-AddAnnote.svg" alt=""></a></li> <!--Add Annotation-->
            <li><a id="button-add-annotation" class="btn-floating grey">    <img class="button-viewer" src="/img/viewer/03c-RemoveAnnote.svg" alt=""></a></li>
        </ul>
    </div>
    #}
    <div id="buttons-saveandcancel">
        <a id="button-save" class="waves-effect waves-light btn">Save</a>
        <a id="button-cancel" class="waves-effect waves-light btn">Cancel</a>
    </div>
</div>

