<div id="renderDiv" class="viewer-div col s12">
    <div id="partLoader" style="visibility: hidden;">
        <div class="progress">
            <div id="loadingBar" class="determinate"></div>
        </div>
    </div>

    <canvas id="axisCanvas" class="viewer-div axis-canvas"></canvas>
    <canvas id="renderSurface" class="viewer-div viewer-canvas"></canvas>

    <ul class="viewer-div-option">
        <li class="viewer-option">
            <a id="button-move-object" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02a-ShowMark.svg" alt="Repère Pièce"></a>
        </li>
        <li class="viewer-option">
            <a id="button-rotate-object" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02e-ShowRotate.svg" alt="Rotate"></a>
        </li>
        <li class="viewer-option">
            <a id="button-fit-to-screen" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/01a-FitToScreen.svg" alt="Fit To Screen"></a>
        </li>
        <li class="viewer-option">
            <a id="button-bounding-box" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02b-ShowBoundingBox.svg" alt="Bounding Box"></a>
        </li>
        <li class="viewer-option">
            <a id="button-wireframe" class="btn-floating grey">
                <img class="button-viewer" src="/img/viewer/02c-Wireframe.svg" alt="Wireframe">
            </a>
        </li>

        <li class="viewer-option">
            <div id="distance-option" class="fixed-action-btn horizontal" style="z-index:inherit" >
                <a id="button-distance" class="btn-floating grey">
                    <img class="button-viewer" src="/img/viewer/03d-Distances.svg" alt="Distance">
                </a>
                <ul style="right:55px;">
                    <li class="button-mini-option">
                        <a id="button-remove-distances" class="btn-floating grey">
                            <img class="button-viewer" src="/img/viewer/03c-RemoveDists.svg" alt=""></a>
                    </li>
                    <li class="button-mini-option">
                        <a id="button-show-distances" class="btn-floating grey">
                            <img class="button-viewer" src="/img/viewer/03a-HideDists.svg" alt=""></a>
                    </li>
                    <li class="button-mini-option">
                        <a id="button-add-distance" class="btn-floating grey">
                            <img class="button-viewer" src="/img/viewer/03b-AddDist.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <div id="buttons-saveandcancel">
        <a id="button-save" class="waves-effect waves-light btn">Save</a>
        <a id="button-cancel" class="waves-effect waves-light btn">Cancel</a>
    </div>
</div>
