<div id="renderDiv" class="viewer-div">
        <canvas id="axisCanvas" class="viewer-div axis-canvas"></canvas>
        <canvas id="renderSurface" class="viewer-div viewer-canvas"></canvas>
</div>

<div id="renderDivButton">
        <a id="visual-button" class="waves-effect waves-light btn">visual-button</a>
        <a id="annot-button" class="waves-effect waves-light btn">annot-button</a>
        <a id="ruler-button" class="waves-effect waves-light btn">ruler-button</a>
        <a id="resize-button" class="waves-effect waves-light btn">resize-button</a>
        <a id="translate" class="waves-effect waves-light btn">translate</a>
        <a id="rotate" class="waves-effect waves-light btn">rotate</a>
        <a id="scale" class="waves-effect waves-light btn">scale</a>
        <a id="space" class="waves-effect waves-light btn">space</a>

</div>