<div id="renderDiv" class="viewer-div">
    <canvas id="axisCanvas" class="viewer-div axis-canvas"></canvas>
    <canvas id="renderSurface" class="viewer-div viewer-canvas"></canvas>


    <div class="fixed-action-btn horizontal viewer-options-1">
        <a class="btn-floating btn-large blue">
            <img class="button-viewer" src="/img/viewer/01-BasicParameters.svg" alt="">
        </a>
        <ul>
            <li><a id="button-fit-to-screen" class="btn-floating grey"> <img class="button-viewer" src="/img/viewer/01a-FitToScreen.svg" alt=""></a></li> <!--Fit To Screen-->
            <li><a id="button-fullscreen" class="btn-floating grey">    <img class="button-viewer" src="/img/viewer/01b-FullScreen.svg" alt=""></a></li> <!--Full screen-->
        </ul>
    </div>

    <div class="fixed-action-btn horizontal viewer-options-2">
        <a class="btn-floating btn-large brown">
            <img class="button-viewer" src="/img/viewer/02-3DInformation.svg" alt="">
        </a>
        <ul>
            <li><a id="button-repere-piece" class="btn-floating grey">  <img class="button-viewer" src="/img/viewer/02a-ShowMark.svg" alt=""></a></li> <!--repère pièce-->
            <li><a id="button-bounding-box" class="btn-floating grey">  <img class="button-viewer" src="/img/viewer/02b-ShowBoundingBox.svg" alt=""></a></li> <!--bounding box-->
            <li><a id="button-wireframe" class="btn-floating grey">     <img class="button-viewer" src="/img/viewer/02c-Wireframe.svg" alt=""> </a></li> <!--wireframe-->
            <li><a id="button-passport-3d" class="btn-floating grey">   <img class="button-viewer" src="/img/viewer/02d-3DPassport.svg" alt=""></a></li> <!--passport 3D-->
        </ul>
    </div>

    <div class="fixed-action-btn horizontal viewer-options-3">
        <a class="btn-floating btn-large green">
            <img class="button-viewer" src="/img/viewer/03-Annotations.svg" alt="">
        </a>
        <ul>
            <li><a id="button-show-annotation" class="btn-floating grey">   <img class="button-viewer" src="/img/viewer/03a-ShowAnnotes.svg" alt=""></a></li> <!--Show Annotation-->
            <li><a id="button-add-annotation" class="btn-floating grey">    <img class="button-viewer" src="/img/viewer/03b-AddAnnote.svg" alt=""></a></li> <!--Add Annotation-->
            <li><a id="button-add-annotation" class="btn-floating grey">    <img class="button-viewer" src="/img/viewer/03c-RemoveAnnote.svg" alt=""></a></li>
        </ul>
    </div>

    <div class="fixed-action-btn horizontal viewer-options-4">
        <a class="btn-floating btn-large yellow">
            <i class="large material-icons">build</i>
        </a>
        <ul>
            <li><a id="button-move-object" class="btn-floating grey"><i id="move-icon"></i></a></li> <!--increase size-->
            <li><a id="button-rotate-object" class="btn-floating grey"><i class="material-icons">3d_rotation</i></a></li> <!--rotate-->
            <li><a id="button-scale-object" class="btn-floating grey"><i class="material-icons">transform</i></a></li> <!--scale-->
        </ul>
    </div>

    <a id="button-save" class="waves-effect waves-light btn"><i class="material-icons left">save</i>Save</a>
</div>
<!--
<div id="renderDivButton">
        <a id="visual-button" class="waves-effect waves-light btn">visual-button</a>
        <a id="annot-button" class="waves-effect waves-light btn">annot-button</a>
        <a id="ruler-button" class="waves-effect waves-light btn">ruler-button</a>
        <a id="resize-button" class="waves-effect waves-light btn">resize-button</a>
        <a id="translate" class="waves-effect waves-light btn">translate</a>
        <a id="rotate" class="waves-effect waves-light btn">rotate</a>
        <a id="scale" class="waves-effect waves-light btn">scale</a>
        <a id="space" class="waves-effect waves-light btn">space</a>
</div> -->