body {
    margin: 0;
}

.annot-img {
    display:    block;
    height:     24px;
    left:       5px;
    position:   absolute;
    top:        5px;
    width:      24px;
}

 /* ************************************************************************* */

.annot-box {
    background-color:   rgba(245, 244, 244, 0.9);
    display:            flex;
    flex-flow:          column;
    left:               30px;
    position:           absolute;
    top:                30px;
    width:              200px;
}

/* ************************************************************************** */

.annot-box-content {
    align-items:    center;
    display:        flex;
    flex-flow:      row;
    font-size:      10px;
    font-family:    "montserrat", sans-serif;
    margin:         2px 5px 2px 3px;
}

/* ****************** */

.annot-icons {
    justify-content:    flex-end;
    margin-top:         3px;
}

.clickable-icon {
    cursor: pointer;
}

.delete-icon {
    height: 10px;
    width:  10px;
}

/* ****************** */

.annot-meta {
    font-weight:        bold;
    justify-content:    space-between;
}

.annot-lifetime {
    font-style: italic;
    text-align: right;
}

/* ****************** */

.annot-content {
    margin-bottom:  3px;
}