#upload-input {
    display: none;
}

.btn:focus,
.upload-btn:focus {
    outline: 0 !important;
}

html,
body {
    height: 100%;
}

.row {
    margin-top: 80px;
}

.upload-btn {
    color: #ffffff;
    background-color: #45E3C9;
    ;
    border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    color: #ffffff;
    background-color: #4ACCB6;
    border: none;
}

h4 {
    padding-bottom: 30px;
    color: #B8BDC1;
}

.glyphicon {
    font-size: 5em;
    color: #9CA3A9;
}

h2 {
    margin-top: 15px;
    color: #68757E;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FBFBFB;
}

#upload-input {
    display: none;
}

@media (min-width: 768px) {
    .main-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 450px;
    }
}

.bar-percentage {
    background-color: #45E3C9;
}