.issues-content {
    width: 90%;
    height: calc(100vh - 115px);
    margin: 0 auto;
}

.issues-content-top {
    width: 100%;
    display: flex;
    padding-top: 1%;
}

.issues-content-top-filters {
    width: 50%;
    display: flex;
    align-items: center;
}

.issues-content-top-new {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.issues-content-top-new button {
    background-color: #9EF1E3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 17px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #9EF1E3;
}

.issues-content-top-new button:hover {
    background-color: #9EF1E3;
}

.issues-content-top-new button:active {
    position: relative;
    top: 1px;
}

.issues-table {
    margin: auto;
    margin-top: 3%;
    width: calc(100% - 40px);
    border: 1px solid #979797;
}

.issues-table tr {
    width: 100%;
    border-bottom: 1px solid #979797;
}

.issues-table th {
    background-color: #45E3C9;
}

.issue-title {
    font-weight: 500;
}

input {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
}

.issues-button {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background-color: #45E3C9;
    margin-top: 2%;
    padding: 4%;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
}

.show {
    display: block;
}

.error-pl-text {
    display: none;
    width: 70%;
    margin-top: 3%;
    margin-bottom: -3%;
    color: #cc0000;
    font-size: 12px;
}