.dashboard-content {
    width: 100%;
    height: calc(100vh - 115px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.dashboard-content-leftbar {
    width: 30%;
    height: 100%;
    margin-left: 1%;
    padding-top: 4%;
}

.dashboard-content-leftbar-cards {
    width: 100;
    min-height: 40%;
    padding-left: 5%;
    padding-top: 3%;
    color: #8F8F8F;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #979797;
}

.dashboard-content-leftbar img {
    margin-right: 3%;
    width: 8%;
}

.dashboard-content-leftbar-branches {
    width: 100;
    height: 50%;
}

.dashboard-item {
    width: 100%;
    min-height: 30px;
    overflow: scroll;
    padding-bottom: 20px;
}

.dashboard-item-name {
    margin: 0;
    font-size: 1.3em;
}

.dashboard-item-list {
    margin-left: 10%;
    width: 100%;
    list-style: none;
}

.dashboard-item-list-child {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.branch-icon {
    width: 50px;
}

.dashboard-content-viewer {
    width: 60%;
    margin-top: 1%;
}

.viewer-div {
    display: flex;
    height: 80%;
    margin: 0;
    position: relative;
    width: 100%;
}

.axis-canvas {
    height: 10%;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15%;
}

.viewer-toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 50%;
}

.button-image {
    height: 30px;
    width: 30px;
}

.test-button {
    border-radius: 50%;
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
}


/* ************************************************************************** */

.annotation {
    /* bg #f5f4f4 */
    background-color: rgba(245, 244, 244, 0.9);
    /* bordure #b8b8b8 */
    border: 1px solid rgba(184, 184, 184, 0.5);
    display: flex;
    font-family: "montserrat", sans-serif;
    font-size: 10px;
    max-width: 210px;
    overflow-wrap: break-word;
    padding: 5px;
}


/* ************************************************************************** */

.branches {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    padding-top: 5%;
}

.branches p {
    display: block;
}