.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    width: 25%;
    margin-right: 10%;
}

form {
    width: 25%;
}