@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype')
}

html {
    margin: 0;
    padding: 0;
    border: 0
}

a,
abbr,
acronym,
address,
article,
aside,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
iframe,
img,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
section,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

header,
header nav ul {
    display: -webkit-box;
    display: -ms-flexbox
}

body {
    line-height: 1.5;
    background: #fff
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    float: none!important
}

table,
td,
th {
    vertical-align: middle
}

blockquote after,
blockquote before,
q after,
q before {
    content: ''
}

a img {
    border: none
}

b,
i {
    display: none
}

body,
html {
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
    overflow-y: auto
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1%
}

header img {
    width: 9%
}

header nav {
    width: 91%;
    display: inline-block
}

header nav ul {
    list-style-type: none;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

header nav ul li {
    margin-right: 3%
}

header nav ul li a {
    display: block;
    float: left;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: width 2s;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

header nav ul li a:hover {
    color: #00ffc2
}

.main {
    width: 100vw
}

.main .main_meetbocket .main_meetbocket_distributed {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content {
    width: 50%;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content h2 {
    font-size: 35px;
    font-weight: 700
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content p {
    font-size: 17px;
    margin-top: 2%
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content p span {
    color: #FB0F85
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content a {
    display: inline-block;
    margin-top: 5%;
    margin-right: auto;
    text-decoration: none;
    background-color: #FC0F85;
    border-radius: 5px;
    padding: 3%;
    color: #fff;
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content a:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.main .main_meetbocket .main_meetbocket_distributed .main_meetbocket_distributed_content img {
    height: 60%
}

.main .main_meetbocket .main_meetbocket_integrations {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.main .main_meetbocket .main_meetbocket_integrations .main_meetbocket_integrations_content {
    width: 50%;
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main .main_join,
.main .main_pricing {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal
}

.main .main_meetbocket .main_meetbocket_integrations .main_meetbocket_integrations_content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-right: auto
}

.main .main_meetbocket .main_meetbocket_integrations .main_meetbocket_integrations_content a {
    display: inline-block;
    margin-top: 5%;
    margin-right: auto;
    text-decoration: none;
    background-color: #FC0F85;
    border-radius: 5px;
    padding: 3%;
    color: #fff;
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

.main .main_meetbocket .main_meetbocket_integrations .main_meetbocket_integrations_content a:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.main .main_meetbocket .main_meetbocket_integrations .main_meetbocket_integrations_content img {
    max-height: 40%
}

.main .main_pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #F0F7F7
}

.main .main_pricing .pricing_card {
    width: 20%;
    background-color: #fff;
    border: 1px solid #D7E9F2
}

.main .main_pricing .pricing_card .pricing_info_box {
    background-color: #E1EFEF
}

.main .main_pricing .pricing_card .pricing_info_box h2 {
    text-align: center;
    margin-bottom: 2%;
    font-size: 23px;
    font-weight: 700
}

.main .main_pricing .pricing_card .pricing_info_box p {
    text-align: center;
    margin-bottom: 2%
}

.main .main_pricing .pricing_card .pricing_info_box .subtext {
    font-size: 14px;
    font-style: italic
}

.main .main_pricing .pricing_card .pricing_info_box .price {
    font-size: 30px;
    font-weight: 700
}

.main .main_pricing .pricing_card ul {
    list-style-type: none;
    font-size: 13px
}

.main .main_pricing .pricing_card ul li {
    margin-top: 2px
}

.main .main_pricing .pricing_card ul li.pricing_not_included {
    color: #fff
}

.main .main_pricing .pricing_card:last-child {
    margin-right: 0
}

.main .main_join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main .main_join .main_join_form h3,
.main .main_join .main_join_form p {
    display: block
}

.main .main_join .main_join_form form input {
    display: block;
    border-radius: 5px
}