{% for workspace in workspaces %}
    <a class="collection-item collection-item-workspace center-align {% if workspace.id == in_use.id %} {{ "active" }} {% endif %}" style="min-height: auto !important; padding: 0px !important;" href="/project/{{workspace._id}}">
    {% if (workspace.image) %}
    {% else %}
        <div class="circle-text">
            <div class="icon-list-workspace" style="background-color: ;">
                <p class="first-letter-workspace">{{ workspace.name|first |capitalize }}</p>
            </div>
        </div>
    {% endif %}
    <p style="font-size: 50%; color: white; text-align: center;">{{ workspace.name }}</p>
    </a>
{% endfor %}
<a id="trigger-creation-workspace" class="collection-item avatar collection-item-workspace modal-trigger" href="#workspace-creation" style="min-height: auto !important; padding: 0px !important;">
    <i class="tiny material-icons" style="font-size: 1rem !important;">add</i>
    <p style="font-size: 70%; color: white; ">Add Workspace</p>
</a>
