<p class="center-align" style="margin-bottom:33px;">
    Please choose another organization or workspace, or create an organization
</p>
<ul class="collapsible" data-collapsible="accordion">
    {% for manager in Manager %}
        <li>
            <div class="collapsible-header" style="position:relative">
                <i class="material-icons left fix-icons">arrow_drop_down</i>
                <p class="title-organization">
                    {{manager.Organization.name}}
                </p>
                <a href="/organization/{{manager.Organization._id}}" class="absolute-redirection">Go</a>
            </div>
            <div class="collapsible-body">
                <ul class="collection">
                    {% for Workspace in manager.Workspaces %}
                        <li class="inherit-background collection-item">
                            <p>
                                {{Workspace.name}}
                                <a href="/workspace/{{Workspace._id}}" class="absolute-redirection">
                                    Go
                                </a>
                            </p>
                        </li>
                    {% else %}
                        <li class="inherit-background collection-item">
                            <p>
                                No workspace or access restricted.
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>
