<div class="row">
    <div class="col s12">
        {# <div class="col s1"><i class="material-icons">insert_drive_file</i></div> #}
        <div class="col s1"><img src="/img/file-icon.svg"></div>
        <span class="col s10 file-title">Main assembly - C ... Type 01</span>
        <span class="col s1 format">PDF</span>
    </div>
</div>
