#location {
}

#location .owners {
    width: 15%;
    height: 15%;
    position: relative;
}

#location-maturity{
    display: inline-block;
}
div#location>p {
    font-size: 12px;
}
div#location>h5 {

}

div#location>p>span.right , div#location>span.right , div#location>h5>span.right{
    text-align: right;
}


#location .owners:hover{
    -webkit-transition: all .3s ease-in-out !important;
    -moz-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
    -ms-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
    width: 20%;
    z-index: 10000;
}
