#news-feed {
    background: #FFFFFF;
}

#all-feeds, #team-feeds, #object-feeds, #annotation-feeds {
    height: inherit !important;
    overflow-y: auto;
    display: block;
}

.collection-item img {
    display: inline-block;
    width: 26px;
    /*border-radius: 50%;*/
    float: left;
    margin-right: 2%;
}

.icon-action {
    padding-left: 1%;
    padding-top: 2%;
    padding-right: 1%;
}