#specs {
    max-height: 40%;
    border: #00ffc8;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
}

#specs .format {
    color: darkgrey;
}

#specs ul {
    margin-top: 1%;
}

#specs .collection .collection-item:hover {
    cursor: pointer;
}

#specs-context-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 2000;
    opacity: 0;
}

.specs-context-menu-active {
    display: block !important;
    opacity: 1 !important;
}