.blurred {
    min-height: 100vh;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
}

.modal-form {
    width: 30%;
    height: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 5001;
    box-shadow: 2px 2px 3px grey;
    align-items:center;
    justify-content: center;
}

.tabs .tab a:hover {
    background:#F5F5F5;
}

.tabs {
    background: #FAFAFA;
}

.tabs .tab a {
    background: #FAFAFA;
}

.toast-error {
    background: #FF2E63;
}

#social-space {
    display: none;
    position: absolute;
    background: #E6EAEA;
    width: inherit;
    height: inherit;
}

#news-feed {
    display: none;
    min-width: 360px;
    max-width: 100%;
    min-height: 300px;
    max-height: 100%;
    background: #E6EAEA;
    width: 100%;
    height: 95%;
}
@media screen and (max-width: 360px) {
    #news-feed {
        width: 100%;
        height: 100vh;
    }
}
#news-feed p {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: xx-large;
}

#frame {
    min-width: 360px;
    max-width: 100%;
    min-height: 300px;
    max-height: 100%;
    background: #E6EAEA;
    width: 100%;
    height: 95%;
}
@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}
#frame #sidepanel {
    float: left !important;
    min-width: 280px !important;
    max-width: 340px !important;
    width: 40% !important;
    height: 100% !important;
    background: #FAFAFA;
    color: #000000;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}
#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}
#frame #sidepanel #profile .wrap {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}
#frame #sidepanel #profile .wrap p {
    float: left;
    font-weight: bolder;
    font-size: larger;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
        display: none;
    }
}
#frame #sidepanel #profile .wrap img {
    float: right !important;
    cursor: pointer;
}

#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: auto;
    overflow-x: hidden;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }
}
#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}
#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}
#frame #sidepanel #contacts ul li.contact:hover {
    background: #F5F5F5;
}
#frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
    background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
    background: #e74c3c;
}
#frame #sidepanel #contacts ul li.contact .wrap i {
    float: left;
    padding: 10px;
    vertical-align: middle;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
    float: left;
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
        display: inline-block;
    }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    /*-moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;*/
    /*transition: 1s all ease;*/
}
#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}
#frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}
#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}
#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}
#frame .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width: 735px) {
    #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}
@media screen and (min-width: 900px) {
    #frame .content {
        width: calc(100% - 340px);
    }
}
#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    font-weight: bolder;
    font-size: larger;
    overflow-x: hidden;
    overflow-y: hidden;
}
#frame .content .contact-profile a {
    padding-right: 20px !important;
    padding-top: 5px;
    vertical-align: middle !important;
    display: inline-block !important;
    float: right;
    cursor: pointer;
}
#frame .content .contact-profile p {
    float: left;
    padding-left: 10px;
    display: inline-block !important;
}
#frame .content .messages {
    height: auto;
    min-height: calc(100% - 125px);
    max-height: calc(100% - 125px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
}

#frame .content .messages ul li {
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
    border-bottom: #B6C0CA 1px solid;
}
#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}
#frame .content .messages ul li p.msg-info {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#frame .content .messages ul li p {
    word-wrap: break-word;
}

#frame .content .messages ul li img {
    /*display: inline-block;*/
    width: 26px;
    /*border-radius: 50%;*/
    float: left;
    margin-right: 10px;
}

#frame .content .messages ul li p.message-content {
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-left: 22px;
    /*border-radius: 20px;*/
}
#frame .content .messages ul li p.msg-info span {
    float: right;
    font-size: 10px;
}
#frame .content .messages ul li p.msg-info strong {
    font-size: 15px;
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: #FAFAFA;
}
#frame .content .message-input .wrap {
    background: #435f7a;
    position: relative;
}
#frame .content .message-input .wrap input {
    float: left;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}
@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}
#frame .content .message-input .wrap input:focus {
    outline: none;
}
#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #223241;
    color: #f5f5f5;
}
@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}
#frame .content .message-input .wrap button:hover {
    background: #FF2E63;
}
#frame .content .message-input .wrap button:focus {
    outline: none;
}

.submit-tchat-btns {
    display: inline-block;
    position: center;
    bottom: 0;
    width: 100%;
}

.tchat-modal-content {
    height: calc(93% - 45px);
}

#cancel-tchat-rm-btn, #cancel-tchat-btn, #cancel-add-btn {
    height: 40px;
    background-color: #ffffff !important;
    color: #223241 !important;
    border: 2px solid #223241 !important;
    text-align: center !important;
    display: inline-block !important;
    width: 48% !important;
    margin-left: 1%;
    bottom: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: none;
    font-weight: bolder !important;
}

#cancel-tchat-rm-btn:hover, #cancel-tchat-btn:hover, #cancel-add-btn:hover {
    color: #FF2E63 !important;
    border: 2px solid #FF2E63 !important;
    font-weight: bolder !important;
}

#confirm-tchat-rm-btn, #create-tchat-btn, #add-user-btn {
    height: 40px;
    background-color: #00CCA0 !important;
    color: #ffffff !important;
    text-align: center !important;
    display: inline-block !important;
    width: 48% !important;
    margin-left: 1%;
    bottom: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: none;
    font-weight: bolder !important;
}

#confirm-tchat-rm-btn:hover, #create-tchat-btn:hover, #add-user-btn:hover {
  border-bottom: 3px solid #218A2A !important;
  font-weight: bolder !important;
}


#social-users-list, #add-users-list {
    overflow: auto;
    height: 100% !important;
}

#confirm-tchat-modal .modal-form {
    width: 20% !important;
    height: 25% !important;
}

#confirm-tchat-modal h5 {
    font-weight: bolder;
    font-size: larger;
}

#new-tchat-form h5 {
    font-weight: bolder;
    font-size: larger;
}

#new-tchat-form i, #confirm-tchat-modal i  {
    padding-top: 1%;
    padding-right: 1%;
}

.modal-title  {
    display: inline-block;
    font-weight: bolder !important;
}

.modal-title-div {
    vertical-align: baseline;
}

.close-modal {
    color: #223241;
    padding-right: 2%;
    padding-top: 2%;
}