.inherit-background {
  background-color: inherit !important;
}


.collapsible-header.list-organization::before { 
  font-family: "Material Icons"; 
  content: "\E876";
}

.title-organization {
  margin: 0%;
  font-weight: 600;
  text-transform: capitalize;
}

h5 {
  font-size: 1.4em;
}

input[type="text" i]:disabled {
  border-bottom: 1px dotted rgba(0,0,0,0.42) !important;
  box-shadow: none !important;
}

.height-separator-top-20-bottom-6{
  margin-top: 20% !important;
  margin-bottom: 6% !important;  
}

.height-separator-6{
  margin-top: 6% !important;
  margin-bottom: 6% !important;  
}

.height-separator{
  margin-top: 4% !important;
  margin-bottom: 4% !important;
}

#user-profil-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 300px;
}

div.collapsible-header.active > i.collapsible-icon {
  transform: rotate(90deg)
}
