#forced-create-organization{
  height: 32%;
}

#workspace-creation{
  overflow-y: visible;
}

.fix-icons{
  font-size: 22px;
  will-change: transform;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
}

.active > .fix-icons{
  will-change: transform;
  transform: rotate(0deg);
}

.modal-information{
  padding: 30px 0px;
}
