#side-nav{
  display: flex;
  flex-direction: column;
}

#organization-block{
  margin-top: 10%;
  flex-grow: 0;
}

#container-organization, #container-user{
  padding: 0% 8px;
}

.round-separator{
  padding: 8% 0%;
}

#user-block{
  flex-grow: 0;
}

#workspaces-block{
  flex-grow: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 8px;
  height: 100%;
  width: 100%;
}

div#organization-block>hr{
  margin-bottom: 0px;
}

div#user-block>hr{
  margin-top: 0px;
}

div#organization-block>hr, div#user-block>hr {
    opacity: 0.5;
    margin-left: 10%;
    margin-right: 10%;
}

.round-container, .cube-container{
   color: #3c3c3c;
   position: relative;
   background: #F5F5F5;
   margin-left: 15%;
   width: 70%;
   padding-top: 70%; /* 1:1 Aspect Ratio */
   border-radius: 50%;
}


.cube-container {
  border-radius: 25%;
}

.round-separator {
  margin: 10% 0px;
}

.round-container.active, .cube-container.active{
  background-color: #3c3c3c; 
  color: #F5F5F5;
  box-shadow: 0 0 0 2px #F5F5F5;
}

.round-container:hover, .cube-container:hover{
  color: #FF2E63;
  box-shadow: 0 0 0 2px #FF2E63;
}

#nom-user{
  text-align: center;
  color: white;
  font-size: 11px;
  margin-top: 5px;
}

.text-container{
  color: inherit;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 10px);
  left: 0; 
  right: 0;
  text-align: center;
  font-size: 14px;
}
