<div id="manage-workspace" class="row col s12 display-none" style="height: 100%;">
    <div id="manage-workspace-title" class="col s12" style="text-align: left">
        <div class="row col s11">
            <h4>Preferences</h4>
        </div>
        <div class="col s1" style="text-align: right">
            <i id="close" class="medium material-icons">close</i>
        </div>
    </div>
    <div id='manage-workspace-first-column' class="col s2">
        <div class="collection">
            <a href="#!" id="manage-Workspace" class="collection-item active">Workspace</a>
            <a href="#!" id="manage-Organization" class="collection-item">Organization</a>
        </div>
    </div>
    <div id="manage-workspace-second_column" class="row col s10">
        <div class="col s10 offset-s1" id="panel">
            <ul id='users-list' class="collection"></ul>
            <div class="row">
                <form class="col s12">
                    <div id='preferences-block' class="row">
                        <div id='preferences-options' class="input-field col s9">
                            <input placeholder="{{ title }}" id="modifier" type="text" class="validate">
                            <label for="preferences-name">Workspace Name</label>
                        </div>
                        <div class="col s2 offset-s1">
                            <a href="#" id="modifier-trigger" class="waves-effect waves-light btn-large">Change</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>