<div id="manage-workspace" class="row col s12 display-none" style="height: 100%;">
    <div id="manage-workspace-title" class="col s12" style="text-align: left">
        <div class="row col s11">
            <h4>Manage Workspace</h4>
        </div>
        <div class="col s1" style="text-align: right">
            <i id="close" class="medium material-icons">close</i>
        </div>
    </div>
    <div id='manage-workspace-first-column' class="col s2">
        <div class="collection">
            <a href="#!" class="collection-item active">Workspace</a>
            <a href="#!" class="collection-item">Organization</a>
        </div>
    </div>
    <div id="manage-workspace-second_column" class="row col s10">
        <div class="col s10 offset-s1" id="panel">
            <ul id='users-list' class="collection">
                {# <li class="collection-item avatar">
                    <img src="/img/vincent_mesquita.jpg" alt="" class="circle">
                    <span class="title">Vincent Mesquita</span>
                    <p>vincent.mesquita@epitech.eu</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">clear</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="/img/marco.jpg" alt="" class="circle">
                    <span class="title">Marco Verratti</span>
                    <p>marco.verratti@psg.fr</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">clear</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="/img/rabiot.jpeg" alt="" class="circle">
                    <span class="title">Adrien Rabiot</span>
                    <p>adrien.rabiot@psg.fr</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">clear</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="/img/jeanadrien.png" alt="" class="circle">
                    <span class="title">Jean-Adrien Domage</span>
                    <p>jeanadrien-domage@epitech.eu</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">clear</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="/img/herve.jpg" alt="" class="circle">
                    <span class="title">Hervé Kay</span>
                    <p>herve@bocket.me</p>
                    <a href="#!" class="secondary-content"><i class="material-icons">clear</i></a>
                </li> #}
            </ul>
        </div>
    </div>
</div>