<form>
    <div class="row">
        <div class="input-field col s6">
            <input 
                placeholder="Placeholder" 
                id="completeName" 
                type="text" 
                class="validate">
            <label for="completeName">FIRST NAME AND LAST NAME</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">PASSWORD</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="new-password" type="password" class="validate">
            <label for="new-password">NEW PASSWORD</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input id="confirm-password" type="password" class="validate">
            <label for="confirm-password">CONFIRM PASSWORD</label>
        </div>
    </div>
    <div class="row" style="float:right">
        <button 
            class="btn waves-effect waves-light"
            onclick="event.preventDefault()" 
            name="action">
        SAVE
        </button>
    </div>
</form>