<ul class="collapsible collapsible-first bocket-scrollbar" data-collapsible="accordion">
    <li>
        <div id="{{ node._id }}" class="collapsible-header three-node search_child valign-wrapper">
            <i class="material-icons">keyboard_arrow_right</i>
            <img class="pad-right" src="/img/07-Assembly icon.svg">
            <span class="p-node" data-node="part" data-breadcrumbs="{{ node.name }}" data-sublevel="0">{{ node.name }}</span>
        </div>
        <div id="{{ node._id }}-body" class="collapsible-body container valign-wrapper">
        </div>
    </li>
</ul>

<ul id='node-tree-context-menu' class='dropdown-content'>
    <li class="option-node"><a id="new-part" class="dropdown-menu" href="#!">New Part</a></li>
    <li class="option-node"><a id="new-assembly" class="dropdown-menu" href="#!">New Assembly</a></li>
    <li class="divider"></li>
    <li class="option-node"><a id="preview" class="dropdown-menu" href="#!">Remove</a></li>
    <li class="option-node"><a id="preview" class="dropdown-menu" href="#!">Duplicate</a></li>
</ul>
